
*.csproj.user


# Folders to ignore
.svn
.CVS
.idea
node_modules
bin
obj

client/build
client/test
client/tests
client/deploy
client/dist
client/doc

test/report
test/test_out

client/karma/test_out

workflowDesigner/build
workflowDesigner/test
workflowDesigner/deploy
workflowDesigner/dist

Client.v11.suo
client/karma/testSupport/spapiBasePath.js
