<span class="sp-form-builder-form-control">
    <sp-form-builder-container class="sp-form-builder-field-control" control="containedControl" parent-control="control" parent-tab="tab" field-container="true" sp-draggable="dragOptions" sp-draggable-data="containedControl" resize-handles="'e'" can-resize-vertically="false" can-resize-horizontally="true" style="height: 40px; width: 350px; min-height: 40px; min-width: 350px; max-width: 100%;">
        <sp-auto-number-field-render-control class="transcludeField" is-read-only="true" is-in-design="true" form-control="control" parent-control="parentControl"></sp-auto-number-field-render-control>
    </sp-form-builder-container>
</span>
