<span class="sp-form-builder-form-control">
    <sp-form-builder-container class="sp-form-builder-field-control" control="containedControl" parent-control="control" parent-tab="tab" field-container="true" transclude-configure-button="true" sp-draggable="dragOptions" sp-draggable-data="containedControl" resize-handles="'se'" can-resize-vertically="true" can-resize-horizontally="true" style="height: 200px; min-height: 200px; min-width: 350px; max-width: 100%;">
        <sp-choice-question-options-editor class="transcludeField" is-in-design="true" form-control="control" parent-control="parentControl"></sp-choice-question-options-editor>
    </sp-form-builder-container>
</span>