<span class="sp-form-builder-form-control">
    <sp-form-builder-container class="sp-form-builder-field-control" control="containedControl" parent-control="control" parent-tab="tab" field-container="true" sp-draggable="dragOptions" sp-draggable-data="containedControl" transclude-configure-button='true' style="min-height: 200px; min-width: 400px; height: 200px; width: 400px; max-width: 100%;">
        <span class="transcludeConfigure">
            <sp-form-builder-embedded-form-context control="control"></sp-form-builder-embedded-form-context>
        </span>

        <div class="form-builder-form-render-control transcludeField">
            <sp-form-builder-embedded-form control="control"></sp-form-builder-embedded-form>
        </div>
    </sp-form-builder-container>
</span>

