<span class="sp-form-builder-form-control">
    <sp-form-builder-container class="sp-form-builder-field-control" control="containedControl" parent-control="control" parent-tab="tab" field-container="true" resize-handles="getStringFieldResizeHandles(containedControl)" can-resize-vertically="getStringFieldResizeHandles(containedControl) === 'se'" can-resize-horizontally="true" sp-draggable="dragOptions" sp-draggable-data="containedControl" style="width: 350px; height: 40px; min-width: 350px; min-height: 40px; max-width: 100%;">
        <sp-single-line-text-control is-in-design="true" form-control="control" parent-control="parentControl" style="vertical-align: middle" class="fb-text-control transcludeField"></sp-single-line-text-control>
    </sp-form-builder-container>   
</span>
