<span class="sp-form-builder-form-control">
    <sp-form-builder-container class="sp-form-builder-field-control" control="containedControl" parent-control="control" parent-tab="tab" tab-container="true" sp-draggable="dragOptions" sp-draggable-data="containedControl" style="height: 80px; min-width: 350px; min-height: 80px; max-width: 100%;">
        <sp-tab-container-control class="transcludeField" is-in-design="true" design-data="tabDesignData" form-control="control" parent-control="parentControl"></sp-tab-container-control>
    </sp-form-builder-container>
</span>
