[{:tags [:user/hemant :app-tests/orm :desktop],
  :name
  "Managing Shared by creating Sites, Processes, Product and Service, Org Structure",
  :steps
  [{:script
    "(rn.common/start-app-and-login (:orm-manager-creds *tc*))"}
   {:script "(rt.po.app/navigate-to \"Shared\")"}
   {:script
    "(rt.po.app/select-navigator-item \"Organisation Structure\")"}
   {:script "(rt.po.report-view/open-action-menu)"}
   {:script "(rt.po.app/choose-context-menu \"New\")"}
   {:script
    "(rt.po.edit-form/set-text-field-value \"Name\" (:org-name *tc*))"}
   {:script
    "(rt.po.edit-form/open-lookup \"Parent organisation level\")"}
   {:script
    "(rt.po.view-form/select-structure-view-item-with-ctrl-key-by-text \"Administration\" \"\")"}
   {:script "(rt.po.common/click-ok)"}
   {:script "(rt.po.edit-form/save)"}
   {:script "(rt.po.edit-form/click-back-button)"}
   {:script "(rt.po.report-view/set-search-text (:org-name *tc*))"}
   {:script
    "(expect-equals (:org-name *tc*) (rt.po.report-view/get-report-cell-text-content 0 \"Organisation Structure\"))"}
   {:script "(rt.po.app/select-navigator-item \"Processes\")"}
   {:script "(rt.po.report-view/open-action-menu)"}
   {:script "(rt.po.app/choose-context-menu \"New\")"}
   {:script
    "(rt.po.edit-form/set-text-field-value \"Name\" (:process-name *tc*))"}
   {:script
    "(rt.po.edit-form/set-choice-value-v2 \"Process Type\" \"Support\")"}
   {:script
    "(rt.po.edit-form/set-choice-value-v2 \"Criticality\" \"Medium\")"}
   {:script
    "(rt.po.edit-form/set-date-field-value \"Next Review Date\" (make-local-date 2016 12 11))"}
   {:script "(rt.po.edit-form/save)"}
   {:script "(rt.po.edit-form/click-back-button)"}
   {:script "(rt.po.report-view/set-search-text (:process-name *tc*))"}
   {:script
    "(expect-equals (:process-name *tc*) (rt.po.report-view/get-report-cell-text-content 0 \"Process\"))"}
   {:script
    "(expect-equals \"Support\" (rt.po.report-view/get-report-cell-text-content 0 \"Process Type\"))"}
   {:script
    "(rt.po.app/select-navigator-item \"Products and Services\")"}
   {:script "(rt.po.report-view/open-action-menu)"}
   {:script "(rt.po.app/choose-context-menu \"New\")"}
   {:script
    "(rt.po.edit-form/set-text-field-value \"Name\" (:prod-service-name *tc*))"}
   {:script "(rt.po.edit-form/open-lookup \"Organisation levels\")"}
   {:script
    "(rt.po.view-form/select-structure-view-item-with-ctrl-key-by-text \"Administration\" \"\")"}
   {:script "(rt.po.common/click-ok)"}
   {:script "(rt.po.edit-form/save)"}
   {:script "(rt.po.edit-form/click-back-button)"}
   {:script
    "(rt.po.report-view/set-search-text (:prod-service-name *tc*))"}
   {:script
    "(expect-equals (:prod-service-name *tc*) (rt.po.report-view/get-report-cell-text-content 0 \"Product or Service\"))"}
   {:script "(rt.po.app/select-navigator-item \"Issues\")"}
   {:script "(rt.po.report-view/open-action-menu)"}
   {:script "(rt.po.app/choose-context-menu \"New\")"}
   {:script
    "(rt.po.edit-form/set-text-field-value \"Name\" (:issue-name *tc*))"}
   {:script
    "(rt.po.edit-form/set-date-field-value \"Expected_Resolution_Date\" (make-local-date 2016 11 11))"}
   {:script "(rt.po.edit-form/save)"}
   {:script "(rt.po.edit-form/click-back-button)"}
   {:script "(rt.po.report-view/set-search-text (:issue-name *tc*))"}
   {:script
    "(expect-equals (:issue-name *tc*) (rt.po.report-view/get-report-cell-text-content 0 \"Issue\"))"}],
  :type :test,
  :source "./test-db",
  :modified "20161013-162131",
  :setup
  [{:script
    "(identity {:issue-name (rt.lib.util/make-test-name \"Issue\"), :prod-service-name (rt.lib.util/make-test-name \"Prod-Serv\"), :process-name (rt.lib.util/make-test-name \"Process\"), :org-name (rt.lib.util/make-test-name \"OrgStr\")})"}],
  :fixtures
  [:rn/fixture/orm-manager-creds],
  :id :orm/tests/orm-managing-shared,
  :teardown [],
  :modified-by "not-implemented"}]
