[{:tags [:desktop :prod],
  :tests [],
  :name "Initial Login and usage",
  :steps
  [{:script "(rn.common/start-app-and-login)",
    :metric-id "Log in and Load Home Screen - 2nd time",
        :target-msec 2000}
   {:script "(rt.po.app/navigate-via-tiles \"Performance Test\")",
        :target-msec 5000}
   {:script "(rt.po.app/select-navigator-item \"Landing Report 1\")",
        :target-msec 5000}
   {:script "(rt.po.app/select-navigator-item \"Landing Report 2\")",
        :target-msec 5000}],
  :type :test,
  :source "../RnTests/test-db",
  :modified "20150607-082906",
  :setup [],
  :fixtures [:common/fixture/test-account-creds],
  :id :perf/tests/t1,
  :teardown [],
  :modified-by "not-implemented"}]
