[{:tags [:desktop],
  :tests [],
  :name "New Report Drivers on Chrome",
  :steps
  [{:script "(rt.po.report-builder/click-calculation-button)",
        :target-msec 500}
   {:script
    "(rt.po.report-calculated/set-column-name \"Calculated column 1\")",
        :target-msec 500}
   {:script "(rt.po.report-calculated/select-hint \"Number\")",
        :target-msec 500}
   {:script "(rt.po.report-calculated/click-ok)",
        :target-msec 500}
   {:script "(rt.po.report-builder/click-calculation-button)",
        :target-msec 500}
   {:script
    "(rt.po.report-calculated/set-column-name \"Calculated column 2\")",
        :target-msec 500}
   {:script
    "(rt.po.report-calculated/set-calculation-script \"[Currency] * 2\")",
        :target-msec 500}
   {:script "(rt.po.report-calculated/click-ok)",
        :target-msec 500}],
  :type :test,
  :checks [],
  :source "../RnTests/test-db",
  :modified "20150601-153807",
  :setup
  [:qa-daily/scripts/reports/open-AutomationReport-in-build-mode],
  :fixtures [:common/fixture/test-account-creds :common/fixture/login],
  :id :qa-daily/reports/test-report-calculated-column-drivers,
  :teardown [],
  :modified-by "not-implemented",
  :data {}}]
