[{:tags
  [:user/shaofen
   :nomodify
   :prod
   :regression
   :desktop
   :area/form-builder],
  :tests [],
  :name "AddFieldstoForm-SystemFields",
  :steps
  [{:script "(rt.po.app/navigate-via-tiles \"Foster University\")"}
   {:script "(rt.po.app/enable-app-toolbox )"}
   {:script
    "(rt.po.app-toolbox/create-object {:name \"New Test Object6\" :description \"New Test Object Description\"})"}
   {:script
    "(expect-equals \"New Test Object6 Form\" (rt.po.form-builder/get-form-title))"}
   {:script "(expect-equals true (rt.po.form-builder/has-canvas?))"}
   {:script
    "(rt.po.form-builder/add-field-from-toolbox-to-form \"Created by\")"}
   {:script
    "(rt.po.form-builder/add-field-from-toolbox-to-form \"Created date\")"}
   {:script
    "(rt.po.form-builder/add-field-from-toolbox-to-form \"Last modified by\")"}
   {:script
    "(rt.po.form-builder/add-field-from-toolbox-to-form \"Modified date\")"}
   {:script
    "(rt.po.form-builder/add-field-from-toolbox-to-form \"Owned by\")"}
   {:script
    "(rt.po.form-builder/add-field-from-toolbox-to-form \"Resource type\")"}
   {:script "(expect-equals true (rt.po.form-builder/has-fields?))"}
   {:script "(rt.po.form-builder/save)"}
   {:script "(rt.po.form-builder/close)"}],
  :type :test,
  :source "../RnTests/test-db",
  :modified "20150601-153812",
  :setup [],
  :fixtures [:common/fixture/test-account-creds :common/fixture/login],
  :id :rn/formbuilder/AddFieldstoForm-SystemFields,
  :teardown
  [{:script "(rt.po.app-toolbox/delete-object \"New Test Object6\")"}],
  :modified-by "not-implemented"}]
