[{:tags
  [:user/tina
   :area/report-builder
   :nomodify
   :regression
   :desktop
   :prod],
  :tests [],
  :name "Grand totals for Date",
  :steps
  [{:script "(rt.po.app/navigate-via-tiles \"Foster University\")"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(rt.po.app/enable-config-mode )"}
   {:script "(rt.po.report-builder/access-build-mode )"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"DOB\" true)"}
   {:script "(rt.po.report-builder/click-saveas-report-button )"}
   {:script
    "(rt.po.report-builder/set-report-new-name \"Totals-Date\")"}
   {:script "(rt.po.report-builder/click-ok )"}
   {:script "(rt.po.report-builder/click-save-report-button )"}
   {:script "(rt.po.report-builder/show-column-context-menu \"DOB\")"}
   {:script "(rt.po.app/choose-context-menu \"Show Totals\")"}
   {:script "(rt.po.report-total/set-show-grand-total true)"}
   {:script "(rt.po.report-total/set-show-option-label true)"}
   {:script "(rt.po.report-total/set-count true)"}
   {:script "(rt.po.report-total/set-count-all true)"}
   {:script "(rt.po.report-total/set-count-unique true)"}
   {:script "(rt.po.report-total/set-max true)"}
   {:script "(rt.po.report-total/set-min true)"}
   {:script "(rt.po.common/click-ok )"}
   {:script "(rt.po.report-builder/click-save-report-button )"}
   {:script
    "(expect-equals true (rt.po.report-view/compare-grand-total-cell-content-list? \"DOB\" [\"Count: 100\" \"Count unique: 100\" \"Count all: 100\" \"Max: 11/24/2000\" \"Min: 8/11/1975\"]))"}
   {:script "(rt.po.report-builder/click-close-button )"}
   {:script
    "(rn.app/open-report \"Totals-Date\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script
    "(expect-equals true (rt.po.report-view/compare-grand-total-cell-content-list? \"DOB\" [\"Count: 100\" \"Count unique: 100\" \"Count all: 100\" \"Max: 11/24/2000\" \"Min: 8/11/1975\"]))"}],
  :type :test,
  :source "./test-db",
  :modified "20150605-110116",
  :setup [],
  :fixtures [:common/fixture/test-account-creds :common/fixture/login],
  :id :rn/reportbuilder/grandtotals-date,
  :teardown [{:script
              "(rn.app/delete-report \"Totals-Date\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}],
  :modified-by "not-implemented"}]
