[{:tags [:area/report-builder :prod :regression :desktop :user/abida],
  :tests [],
  :name "Close button closes the report",
  :steps
  [{:script "(rt.po.app/navigate-via-tiles \"Foster University\")"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(rt.po.app/enable-config-mode )"}
   {:script "(rt.po.report-builder/access-build-mode )"}
   {:script "(rt.po.report-builder/close )"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}],
  :type :test,
  :source "../RnTests/test-db",
  :modified "20150601-153821",
  :setup [],
  :fixtures [:common/fixture/test-account-creds :common/fixture/login],
  :id :rn/reportbuilder/closing-a-report,
  :teardown [],
  :modified-by "not-implemented"}]
