[{:tags
  [:area/report-builder
   :nomodify
   :prod
   :regression
   :desktop
   :user/abida],
  :tests [],
  :name "Summarise functions for date",
  :steps
  [{:script "(rt.po.app/add-report (:section *tc*) )"}
   {:script "(rt.po.report-new/set-name (:report-name *tc*))"}
   {:script "(rt.po.report-new/set-report-base-on \"Student\")"}
   {:script "(rt.po.report-new/click-ok )"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"DOB\" true)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"Name\" false)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"DOB\" \"Count\" true)"}
   {:script "(rt.po.report-summarise/click-ok)"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count: DOB\"))"}
   {:script "(rt.po.report-builder/click-save-report-button )"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count: DOB\"))"}
   {:script "(rt.po.report-builder/access-build-mode )"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script "(rt.po.report-summarise/click-remove-summarise)"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"DOB\" \"Count unique\" true)"}
   {:script "(rt.po.report-summarise/click-ok)"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count unique: DOB\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count unique: DOB\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script "(rt.po.report-summarise/click-remove-summarise)"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"DOB\" \"Count all\" true)"}
   {:script "(rt.po.report-summarise/click-ok)"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count all: DOB\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count all: DOB\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script "(rt.po.report-summarise/click-remove-summarise)"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"DOB\" \"Max\" true)"}
   {:script "(rt.po.report-summarise/click-ok)"}
   {:script
    "(expect-equals \"11/24/2000\" (rt.po.report-view/get-report-cell-text-content 0 \"Max: DOB\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"11/24/2000\" (rt.po.report-view/get-report-cell-text-content 0 \"Max: DOB\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script "(rt.po.report-summarise/click-remove-summarise)"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"DOB\" \"Min\" true)"}
   {:script "(rt.po.report-summarise/click-ok)"}
   {:script
    "(expect-equals \"8/11/1975\" (rt.po.report-view/get-report-cell-text-content 0 \"Min: DOB\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"8/11/1975\" (rt.po.report-view/get-report-cell-text-content 0 \"Min: DOB\"))"}],
  :type :test,
  :source "./test-db",
  :modified "20160920-093229",
  :setup
  [{:script
    "(identity {:report-name (rt.lib.util/make-test-name \"SummariseDate\")})"}],
  :fixtures
  [:common/fixture/test-account-creds
   :common/fixture/login
   :rn/section/createsection],
  :id :rn/reportbuilder/summarise-functions-date,
  :teardown [{:script "(rt.po.app/delete-nav-item (:section *tc*))"}],
  :modified-by "not-implemented"}]
