[{:tags
  [:area/report-builder
   :nomodify
   :prod
   :regression
   :desktop
   :user/abida],
  :tests [],
  :name "Check Icon conditional formatting for Single Choice  field",
  :steps
  [{:script "(rt.po.app/navigate-via-tiles \"Foster University\")"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(rt.po.app/enable-config-mode )"}
   {:script "(rt.po.report-builder/access-build-mode )"}
   {:script "(rt.po.report-builder/click-saveas-report-button )"}
   {:script
    "(rt.po.report-builder/set-report-new-name (:report-name *tc*))"}
   {:script "(rt.po.report-builder/click-ok )"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"State\" \"Format Column\")"}
   {:script "(rt.po.report-format/set-format-type \"Icon\")"}
   {:script
    "(rt.po.report-format/set-format-scheme \"4 step - Circle\")"}
   {:script
    "(rt.po.report-format/set-icon-conditions [{:oper \"Any of\" :value \"SA\" :icon \"Green Circle Format Icon\"} {:oper \"Any of\" :value \"NSW\" :icon \"Yellow Square Format Icon\"} {:oper \"Any of\" :value \"QLD\" :icon \"Red Triangle Format Icon\"} {:oper \"\" :value \"\" :icon \"Black Diamond Format Icon\"}])"}
   {:script "(rt.po.report-builder/click-ok )"}
   {:script
    "(expect-equals \"SA\" (rt.po.report-view/get-report-cell-text-content \"0\" \"State\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"0\" \"State\"))"}
   {:script
    "(expect-equals \"NSW\" (rt.po.report-view/get-report-cell-text-content \"2\" \"State\"))"}
   {:script
    "(expect-equals \"Yellow Square Format Icon\" (rt.po.report-view/get-report-format-icon \"2\" \"State\"))"}
   {:script
    "(expect-equals \"QLD\" (rt.po.report-view/get-report-cell-text-content \"6\" \"State\"))"}
   {:script
    "(expect-equals \"Red Triangle Format Icon\" (rt.po.report-view/get-report-format-icon \"6\" \"State\"))"}
   {:script
    "(expect-equals \"VIC\" (rt.po.report-view/get-report-cell-text-content \"8\" \"State\"))"}
   {:script
    "(expect-equals \"Black Diamond Format Icon\" (rt.po.report-view/get-report-format-icon \"8\" \"State\"))"}
   {:script "(rt.po.report-builder/click-save-report-button )"}
   {:script "(rt.po.report-builder/click-close-button )"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name \"Reports\"})"}
   {:script
    "(expect-equals \"SA\" (rt.po.report-view/get-report-cell-text-content \"0\" \"State\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"0\" \"State\"))"}
   {:script
    "(expect-equals \"NSW\" (rt.po.report-view/get-report-cell-text-content \"2\" \"State\"))"}
   {:script
    "(expect-equals \"Yellow Square Format Icon\" (rt.po.report-view/get-report-format-icon \"2\" \"State\"))"}
   {:script
    "(expect-equals \"QLD\" (rt.po.report-view/get-report-cell-text-content \"6\" \"State\"))"}
   {:script
    "(expect-equals \"Red Triangle Format Icon\" (rt.po.report-view/get-report-format-icon \"6\" \"State\"))"}
   {:script
    "(expect-equals \"VIC\" (rt.po.report-view/get-report-cell-text-content \"8\" \"State\"))"}
   {:script
    "(expect-equals \"Black Diamond Format Icon\" (rt.po.report-view/get-report-format-icon \"8\" \"State\"))"}],
  :type :test,
  :source "./test-db",
  :modified "20160920-120125",
  :setup
  [{:script
    "(identity {:report-name (rt.lib.util/make-test-name \"IconFormatting_SingleChoice\")})"}],
  :fixtures [:common/fixture/test-account-creds :common/fixture/login],
  :id :rn/reportbuilder/icon-formatting-single-select-choice,
  :teardown [],
  :modified-by "not-implemented"}]
