[{:tags [:area/report-builder :regression :prod :desktop :user/abida],
  :tests [],
  :name
  "Checking icon conditional formatting for multiselect choice field",
  :steps
  [{:script "(rt.po.app/add-report (:section *tc*))"}
   {:script "(rt.po.report-new/set-name (:report-name *tc*))"}
   {:script "(rt.po.report-new/set-report-base-on \"Student\")"}
   {:script "(rt.po.report-new/click-ok)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"Club\" true)"}
   {:script "(rt.po.report-builder/select-treenode \"Club\")"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"Club\" \"List\" true)"}
   {:script "(rt.po.report-summarise/click-ok)"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"List: Club\" \"Format Column\")"}
   {:script "(rt.po.report-format/set-format-type \"Icon\")"}
   {:script
    "(rt.po.report-format/set-format-scheme \"2 step - Circle\")"}
   {:script
    "(rt.po.report-format/set-icon-conditions [{:value \"\", :oper \"Is defined\", :icon \"Green Circle Format Icon\"} {:value \"\", :oper \"\", :icon \"Red Circle Format Icon\"}])"}
   {:script "(rt.po.report-format/click-ok)"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"\" (rt.po.report-view/get-report-cell-text-content \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button )"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"\" (rt.po.report-view/get-report-cell-text-content \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"List: Club\" \"Format Column\")"}
   {:script
    "(rt.po.report-format/set-format-scheme \"2 step - Circle\")"}
   {:script
    "(rt.po.report-format/set-icon-conditions [{:value \"\", :oper \"Is not defined\", :icon \"Green Circle Format Icon\"} {:value \"\", :oper \"\", :icon \"Red Circle Format Icon\"}])"}
   {:script "(rt.po.report-format/click-ok)"}
   {:script
    "(expect-equals \"\" (rt.po.report-view/get-report-cell-text-content \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"\" (rt.po.report-view/get-report-cell-text-content \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"0\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"List: Club\" \"Format Column\")"}
   {:script
    "(rt.po.report-format/set-format-scheme \"2 step - Circle\")"}
   {:script
    "(rt.po.report-format/set-icon-conditions [{:value \"Dance;Sports\", :oper \"Any of\", :icon \"Green Circle Format Icon\"} {:value \"\", :oper \"\", :icon \"Red Circle Format Icon\"}])"}
   {:script "(rt.po.report-format/click-ok)"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Drama, Music\" (rt.po.report-view/get-report-cell-text-content \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Chess, Debating\" (rt.po.report-view/get-report-cell-text-content \"3\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"3\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Drama, Music\" (rt.po.report-view/get-report-cell-text-content \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Chess, Debating\" (rt.po.report-view/get-report-cell-text-content \"3\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"3\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"List: Club\" \"Format Column\")"}
   {:script
    "(rt.po.report-format/set-format-scheme \"2 step - Circle\")"}
   {:script
    "(rt.po.report-format/set-icon-conditions [{:value \"Dance;Sports\", :oper \"Any except\", :icon \"Green Circle Format Icon\"} {:value \"\", :oper \"\", :icon \"Red Circle Format Icon\"}])"}
   {:script "(rt.po.report-format/click-ok)"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Drama, Music\" (rt.po.report-view/get-report-cell-text-content \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Chess, Debating\" (rt.po.report-view/get-report-cell-text-content \"3\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"3\" \"List: Club\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name (:section *tc*)})"}
   {:script
    "(expect-equals \"Dance, Sports\" (rt.po.report-view/get-report-cell-text-content \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"1\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Dance, Drama, Music\" (rt.po.report-view/get-report-cell-text-content \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Red Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"2\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Chess, Debating\" (rt.po.report-view/get-report-cell-text-content \"3\" \"List: Club\"))"}
   {:script
    "(expect-equals \"Green Circle Format Icon\" (rt.po.report-view/get-report-format-icon \"3\" \"List: Club\"))"}],
  :type :test,
  :source "./test-db",
  :modified "20160920-144644",
  :setup
  [{:script
    "(identity {:report-name (rt.lib.util/make-test-name \"IconFormattingMultiselect\")})"}],
  :fixtures
  [:common/fixture/test-account-creds
   :common/fixture/login
   :rn/section/createsection],
  :id :rn/reportbuilder/icon-formatting-multiselect-choice,
  :teardown [{:script "(rt.po.app/delete-nav-item (:section *tc*))"}],
  :modified-by "not-implemented"}]
