[{:tags
  [:area/report-builder
   :nomodify
   :prod
   :regression
   :desktop
   :user/abida],
  :tests [],
  :name "Doing a groupby and cancel groupby using name field",
  :steps
  [{:script "(rt.po.app/navigate-via-tiles \"Foster University\")"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(rt.po.app/enable-config-mode )"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script "(rt.po.report-builder/click-saveas-report-button)"}
   {:script
    "(rt.po.report-builder/set-report-new-name (:report-name *tc*))"}
   {:script "(rt.po.report-builder/click-saveas-ok)"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"Student\" \"Group By\")"}
   {:script
    "(expect-equals \"Abraham Mcdonald\" (rt.po.report-builder/get-group-by-row-text \"Abraham Mcdonald\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-exists? \"Abraham Mcdonald\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-exists? \"Adrienne Mckay\"))"}
   {:script
    "(expect-equals \"Adrienne Mckay\" (rt.po.report-builder/get-group-by-row-text \"Adrienne Mckay\"))"}
   {:script
    "(expect-equals \"1161\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"StudentID\"))"}
   {:script
    "(expect-equals \"P.O. Box 871, 3107 Quisque Rd.\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Address line1\"))"}
   {:script
    "(expect-equals \"QLD\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"State\"))"}
   {:script
    "(expect-equals \"Adrienne.Mckay@dolorFusce.ca\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Email address\"))"}
   {:script
    "(expect-equals \"Australia\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Country\"))"}
   {:script
    "(expect-equals \"$-12.50\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Balance\"))"}
   {:script
    "(expect-equals \"Female\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Gender\"))"}
   {:script
    "(expect-equals \"Aidan Mcclure\" (rt.po.report-builder/get-group-by-row-text \"Aidan Mcclure\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-exists? \"Aidan Mcclure\"))"}
   {:script
    "(expect-equals \"1181\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"StudentID\"))"}
   {:script
    "(expect-equals \"P.O. Box 897, 3579 Id Av.\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Address line1\"))"}
   {:script
    "(expect-equals \"ACT\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"State\"))"}
   {:script
    "(expect-equals \"Aidan.Mcclure@elit.com\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Email address\"))"}
   {:script
    "(expect-equals \"Australia\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Country\"))"}
   {:script
    "(expect-equals \"$70.83\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Balance\"))"}
   {:script
    "(expect-equals \"Female\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Gender\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button )"}
   {:script
    "(rn.app/open-report (:report-name *tc*) {:app-name \"Foster University\", :folder-name \"Reports\"})"}
   {:script
    "(expect-equals \"Abraham Mcdonald\" (rt.po.report-builder/get-group-by-row-text \"Abraham Mcdonald\"))"}
   {:script
    "(expect-equals \"Adrienne Mckay\" (rt.po.report-builder/get-group-by-row-text \"Adrienne Mckay\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-exists? \"Abraham Mcdonald\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-exists? \"Adrienne Mckay\"))"}
   {:script
    "(expect-equals \"1161\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"StudentID\"))"}
   {:script
    "(expect-equals \"P.O. Box 871, 3107 Quisque Rd.\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Address line1\"))"}
   {:script
    "(expect-equals \"QLD\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"State\"))"}
   {:script
    "(expect-equals \"Adrienne.Mckay@dolorFusce.ca\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Email address\"))"}
   {:script
    "(expect-equals \"Australia\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Country\"))"}
   {:script
    "(expect-equals \"$-12.50\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Balance\"))"}
   {:script
    "(expect-equals \"Female\" (rt.po.report-builder/get-grouped-row-content \"Adrienne Mckay\" 0 \"Gender\"))"}
   {:script
    "(expect-equals \"Aidan Mcclure\" (rt.po.report-builder/get-group-by-row-text \"Aidan Mcclure\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-exists? \"Aidan Mcclure\"))"}
   {:script
    "(expect-equals \"1181\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"StudentID\"))"}
   {:script
    "(expect-equals \"P.O. Box 897, 3579 Id Av.\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Address line1\"))"}
   {:script
    "(expect-equals \"ACT\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"State\"))"}
   {:script
    "(expect-equals \"Aidan.Mcclure@elit.com\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Email address\"))"}
   {:script
    "(expect-equals \"Australia\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Country\"))"}
   {:script
    "(expect-equals \"$70.83\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Balance\"))"}
   {:script
    "(expect-equals \"Female\" (rt.po.report-builder/get-grouped-row-content \"Aidan Mcclure\" 0 \"Gender\"))"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script
    "(rt.po.report-builder/choose-group-by-row-menu-item \"Abraham Mcdonald\" \"Cancel Group By\")"}
   {:script "(rt.po.report-builder/click-sort-a-z \"Student\")"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-not-exists? \"Abraham Mcdonald\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-not-exists? \"Adrienne Mckay\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-not-exists? \"Aidan Mcclure\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script "(rt.po.report-builder/click-sort-a-z \"Student\")"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-not-exists? \"Abraham Mcdonald\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-not-exists? \"Adrienne Mckay\"))"}
   {:script
    "(expect (rt.po.report-builder/check-group-by-row-not-exists? \"Aidan Mcclure\"))"}],
  :type :test,
  :source "./test-db",
  :modified "20160919-172844",
  :setup
  [{:script
    "(identity {:report-name (rt.lib.util/make-test-name \"NewReport\")})"}],
  :fixtures [:common/fixture/test-account-creds :common/fixture/login],
  :id :rn/reportbuilder/groupby-name,
  :teardown [{:script "(rn.app/delete-report (:report-name *tc*))"}],
  :modified-by "not-implemented"}]
