[{:tags
  [:user/shaofen :prod :nomodify :regression :desktop :area/security],
  :tests [],
  :name "Ensure new user account has correct default access",
  :steps
  [{:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"User Accounts\")"}
   {:script "(rt.po.report-view/open-new-menu)"}
   {:script "(rt.po.edit-form/is-string-field-password? \"Password\")"}
   {:script "(rt.po.edit-form/save)"}
   {:script
    "(expect-equals (rt.po.common/get-combo \"Account status\") \"Active\")"}
   {:script
    "(rt.po.edit-form/set-string-field-value \"Name\" \"Shaofen.Ning\")"}
   {:script
    "(rt.po.edit-form/set-string-field-value \"Password\" \"Shaofen.Ning1\")"}
   {:script "(rt.po.edit-form/save)"}
   {:script
    "(rn.common/start-app-and-login {:password \"Shaofen.Ning1\", :username \"Shaofen.Ning\"})"}
   {:script
    "(expect-equals true (rt.po.app/app-tile-exists? \"Home\"))"}
   {:script
    "(expect-equals false (rt.po.app/app-tile-exists? \"Foster University\"))"}
   {:script
    "(expect-equals false (rt.po.app/app-tile-exists? \"Administration\"))"}
   {:script "(rt.po.app/navigate-via-tiles \"Home\")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"User Accounts\")"}
   {:script "(rt.po.report-view/set-search-text \"Shaofen.Ning\")"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 1))"}
   {:script "(rt.po.report-view/delete-record \"Shaofen.Ning\")"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 0))"}],
  :type :test,
  :source "./test-db",
  :modified "20151027-114803",
  :setup [],
  :fixtures [:common/fixture/test-account-creds],
  :id :rn/security/ensure-new-user-account-has-correct-access,
  :teardown [],
  :doc "",
  :modified-by "not-implemented"}]
