[{:tags
  [:nomodify :prod :regression :user/shaofen :desktop :area/security],
  :tests [],
  :name
  "Ensure multiple access rules works on stand alone report --- RenameColumn",
  :steps
  [{:script
    "(comment \"=========== Checking if env is clean to start the test. =============\")"}
   {:script "(rn.common/start-app-and-login (:user-creds-staff *tc*))"}
   {:script
    "(rn.app/open-report \"Stock report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 0))"}

   {:script
    "(comment \"=========== Create a new report to rename column, grant navigation access to new report and also grant record access for Staff users. ==================\")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script "(rt.po.app/navigate-via-tiles \"Foster University\")"}
   {:script
    "(rn.app/open-report \"Stock report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(rt.po.app/enable-config-mode)"}
   {:script "(rt.po.report-builder/access-build-mode)"}
   {:script "(rt.po.report-builder/click-saveas-report-button)"}
   {:script
    "(rt.po.report-builder/set-report-new-name \"Security - Stock - renameColumn\")"}
   {:script "(rt.po.report-builder/click-saveas-ok)"}
   {:script
    "(rt.po.report-builder/choose-column-menu-item \"Open\" \"Rename Column\")"}
   {:script
    "(rt.po.report-builder/set-rename-column-name \"OpenNEW\")"}
   {:script "(rt.po.report-builder/click-ok)"}
   {:script
    "(expect-equals \"OpenNEW\" (clojure.string/trim (clj-webdriver.taxi/text (rt.po.report-builder/get-col-header \"OpenNEW\"))))"}
   {:script
    "(expect-equals 1 (rt.po.report-builder/get-count-matched-columns-name \"OpenNEW\"))"}
   {:script
    "(expect-equals 0 (rt.po.report-builder/get-count-matched-columns-name \"Open\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(rn.app/open-report \"Security - Stock - renameColumn\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script
    "(expect-equals \"OpenNEW\" (clojure.string/trim (clj-webdriver.taxi/text (rt.po.report-builder/get-col-header \"OpenNEW\"))))"}
   {:script
    "(expect-equals 1 (rt.po.report-builder/get-count-matched-columns-name \"OpenNEW\"))"}
   {:script
    "(expect-equals 0 (rt.po.report-builder/get-count-matched-columns-name \"Open\"))"}
   {:script
    "(rn.app/open-security \"Navigation Access\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/application-option-exists? \"Foster University\"))"}
   {:script "(rt.po.access-rules/click-edit-button)"}
   {:script
    "(rt.po.access-rules/set-application \"Foster University\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/user-or-role-option-exists? \"Staff (User Role)\"))"}
   {:script
    "(rt.po.access-rules/set-user-or-role \"Staff (User Role)\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/node-in-nav-tree-exists? \"Security - Stock - renameColumn\"))"}
   {:script
    "(expect-equals \"Foster University > Reports > Security - Stock - renameColumn\" (rt.po.access-rules/get-node-path \"Security - Stock - renameColumn\"))"}
   {:script
    "(expect-equals false (rt.po.access-rules/node-checked? \"Security - Stock - renameColumn\"))"}
   {:script
    "(rt.po.access-rules/set-node-value \"Security - Stock - renameColumn\" true)"}
   {:script "(rt.po.access-rules/click-save-button)"}

   {:script "(rn.common/start-app-and-login (:user-creds-staff *tc*))"}
   {:script
    "(rn.app/open-report \"Stock Report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 0))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports/Security - Stock - renameColumn\")"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 0))"}
   {:script
    "(expect-equals 1 (rt.po.report-builder/get-count-matched-columns-name \"OpenNEW\"))"}
   {:script
    "(expect-equals 0 (rt.po.report-builder/get-count-matched-columns-name \"Open\"))"}

   {:script
    "(comment \"==================== Clearing env back as by default. ===================\")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"Navigation Access\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/application-option-exists? \"Foster University\"))"}
   {:script "(rt.po.access-rules/click-edit-button)"}
   {:script
    "(rt.po.access-rules/set-application \"Foster University\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/user-or-role-option-exists? \"Staff (User Role)\"))"}
   {:script
    "(rt.po.access-rules/set-user-or-role \"Staff (User Role)\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/node-checked? \"Security - Stock - renameColumn\"))"}
   {:script
    "(rt.po.access-rules/set-node-value \"Security - Stock - renameColumn\" false)"}
   {:script
    "(expect-equals false (rt.po.access-rules/node-checked? \"Security - Stock - renameColumn\"))"}
   {:script "(rt.po.access-rules/click-save-button)"}
   ],
  :type :test,
  :source "./test-db",
  :modified "20151124-111157",
  :setup [],
  :fixtures
  [:common/fixture/test-account-creds
   :rn/fixture/admin-creds
   :rn/fixture/user-creds
   :rn/fixture/user-creds-staff],
  :id :rn/security/secure-data-on-standalone-report---renameColumn,
  :teardown
  [{:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-admin \"Reports\")"}
   {:script
    "(rt.po.report-view/set-search-text \"Security - Stock - renameColumn\")"}
   {:script
    "(while (> (rt.po.report-view/count-report-row) 0) (do (rt.po.report-view/select-row-by-text \"Security - Stock - renameColumn\") (rt.po.report-view/open-action-menu) (rt.po.app/choose-context-menu \"Delete 'Security - Stock - renameColumn'\") (rt.po.edit-form/click-confirm-delete-ok-button)))"}
   {:script "(expect-equals 0 (rt.po.report-view/count-report-row))"}

   {:script "(rn.common/start-app-and-login (:user-creds-staff *tc*))"}
   {:script
    "(rn.app/open-report \"Stock Report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 0))"}],
  :modified-by "not-implemented"}]
