[{:tags
  [:nomodify :prod :regression :user/shaofen :desktop :area/security],
  :tests [],
  :name
  "Ensure multiple access rules works on stand alone report --- Summarize",
  :steps
  [{:script
    "(comment \"============================ Checking if env is clean. =================================== \")"}
   {:script "(rn.common/start-app-and-login (:user-creds-staff *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (> (rt.po.report-view/count-report-row) 15))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports\")"}
   {:script
    "(expect-not (rt.po.app/node-in-nav-tree-exists? \"Security_Summarize\"))"}
   {:script
    "(comment \"============================ Add a new report for summarize test. =================================== \")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports/Student report\")"}
   {:script "(rt.po.app/add-report \"Reports for Charts Section\")"}
   {:script "(rt.po.report-new/set-name \"Security_Summarize\")"}
   {:script "(rt.po.report-new/set-report-base-on \"Student\")"}
   {:script "(rt.po.report-new/click-ok)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"Name\" true)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"State\" true)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"Email address\" true)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"DOB\" true)"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"Balance\" true)"}
   {:script "(rt.po.report-builder/click-add-relationship-button)"}
   {:script "(rt.po.report-add-relationship/set-type \"Lookups\")"}
   {:script
    "(rt.po.report-add-relationship/add-relationship \"Library card #\")"}
   {:script "(rt.po.report-add-relationship/options-expand)"}
   {:script "(rt.scripts.common/sleep 2000)"}
   {:script
    "(rt.po.report-add-relationship/set-add-name-field-to-the-report false)"}
   {:script "(rt.po.report-builder/click-ok)"}
   {:script
    "(rt.po.report-builder/select-treenode \"Library card #\")"}
   {:script
    "(rt.po.report-builder/set-in-report-checkbox-field-value \"Borrow limit\" true)"}
   {:script "(rt.po.report-builder/select-treenode \"Student\")"}
   {:script "(rt.po.report-builder/click-summarise-button)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"Student\" \"Count unique\" true)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"State\" \"Count\" true)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"Email address\" \"Count all\" true)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"DOB\" \"Min\" true)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"Balance\" \"Sum\" true)"}
   {:script
    "(rt.po.report-summarise/set-summarise-option \"Library card # Borrow limit\" \"Max\" true)"}
   {:script "(rt.po.report-builder/click-ok)"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count unique: Student\"))"}
   {:script
    "(expect-equals \"91\" (rt.po.report-view/get-report-cell-text-content 0 \"Count: State\"))"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count all: Email address\"))"}
   {:script
    "(expect-equals \"8/11/1975\" (rt.po.report-view/get-report-cell-text-content 0 \"Min: DOB\"))"}
   {:script
    "(expect-equals \"$4,791.67\" (rt.po.report-view/get-report-cell-text-content 0 \"Sum: Balance\"))"}
   {:script
    "(expect-equals \"10\" (rt.po.report-view/get-report-cell-text-content 0 \"Max: Library card # Borrow limit\"))"}
   {:script "(rt.po.report-builder/click-save-report-button)"}
   {:script "(rt.po.report-builder/click-close-button)"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count unique: Student\"))"}
   {:script
    "(expect-equals \"91\" (rt.po.report-view/get-report-cell-text-content 0 \"Count: State\"))"}
   {:script
    "(expect-equals \"100\" (rt.po.report-view/get-report-cell-text-content 0 \"Count all: Email address\"))"}
   {:script
    "(expect-equals \"8/11/1975\" (rt.po.report-view/get-report-cell-text-content 0 \"Min: DOB\"))"}
   {:script
    "(expect-equals \"$4,791.67\" (rt.po.report-view/get-report-cell-text-content 0 \"Sum: Balance\"))"}
   {:script
    "(expect-equals \"10\" (rt.po.report-view/get-report-cell-text-content 0 \"Max: Library card # Borrow limit\"))"}
   {:script
    "(comment \"============================ Granting the navigation access for non-admin to see new report.  =================================== \")"}
   {:script
    "(rn.app/open-security \"Navigation Access\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/application-option-exists? \"Foster University\"))"}
   {:script "(rt.po.access-rules/click-edit-button)"}
   {:script
    "(rt.po.access-rules/set-application \"Foster University\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/user-or-role-option-exists? \"Foster Common (User Role)\"))"}
   {:script
    "(rt.po.access-rules/set-user-or-role \"Foster Common (User Role)\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/node-in-nav-tree-exists? \"Security_Summarize\"))"}
   {:script
    "(expect-equals \"Foster University > Reports for Charts Section > Security_Summarize\" (rt.po.access-rules/get-node-path \"Security_Summarize\"))"}
   {:script
    "(expect-equals false (rt.po.access-rules/node-checked? \"Security_Summarize\"))"}
   {:script
    "(rt.po.access-rules/set-node-value \"Security_Summarize\" true)"}
   {:script "(rt.po.access-rules/click-save-button)"}
   {:script
    "(comment \"============================ non-admin user checking is on. =================================== \")"}
   {:script "(rn.common/start-app-and-login (:user-creds-staff *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (> (rt.po.report-view/count-report-row) 15))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports for Charts Section\")"}
   {:script
    "(expect-equals true (rt.po.app/node-in-nav-tree-exists? \"Security_Summarize\"))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports for Charts Section/Security_Summarize\")"}
   {:script
    "(expect-equals \"24\" (rt.po.report-view/get-report-cell-text-content 0 \"Count unique: Student\"))"}
   {:script
    "(expect-equals \"20\" (rt.po.report-view/get-report-cell-text-content 0 \"Count: State\"))"}
   {:script
    "(expect-equals \"24\" (rt.po.report-view/get-report-cell-text-content 0 \"Count all: Email address\"))"}
   {:script
    "(expect-equals \"12/26/1977\" (rt.po.report-view/get-report-cell-text-content 0 \"Min: DOB\"))"}
   {:script
    "(expect-equals \"$537.50\" (rt.po.report-view/get-report-cell-text-content 0 \"Sum: Balance\"))"}
   {:script
    "(expect-equals \"\" (rt.po.report-view/get-report-cell-text-content 0 \"Max: Library card # Borrow limit\"))"}
   {:script "(rn.common/start-app-and-login (:user-creds *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 1))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports for Charts Section\")"}
   {:script
    "(expect-equals true (rt.po.app/node-in-nav-tree-exists? \"Security_Summarize\"))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports for Charts Section/Security_Summarize\")"}
   {:script
    "(expect-equals \"1\" (rt.po.report-view/get-report-cell-text-content 0 \"Count unique: Student\"))"}
   {:script
    "(expect-equals \"1\" (rt.po.report-view/get-report-cell-text-content 0 \"Count: State\"))"}
   {:script
    "(expect-equals \"1\" (rt.po.report-view/get-report-cell-text-content 0 \"Count all: Email address\"))"}
   {:script
    "(expect-equals \"3/13/1982\" (rt.po.report-view/get-report-cell-text-content 0 \"Min: DOB\"))"}
   {:script
    "(expect-equals \"$-158.33\" (rt.po.report-view/get-report-cell-text-content 0 \"Sum: Balance\"))"}
   {:script
    "(expect-equals \"5\" (rt.po.report-view/get-report-cell-text-content 0 \"Max: Library card # Borrow limit\"))"}
   {:script
    "(comment \"============================ Cleaning the evn changes back. =================================== \")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"Navigation Access\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/application-option-exists? \"Foster University\"))"}
   {:script "(rt.po.access-rules/click-edit-button)"}
   {:script
    "(rt.po.access-rules/set-application \"Foster University\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/user-or-role-option-exists? \"Foster Common (User Role)\"))"}
   {:script
    "(rt.po.access-rules/set-user-or-role \"Foster Common (User Role)\")"}
   {:script
    "(expect-equals true (rt.po.access-rules/node-checked? \"Security_Summarize\"))"}
   {:script
    "(rt.po.access-rules/set-node-value \"Security_Summarize\" false)"}
   {:script
    "(expect-equals false (rt.po.access-rules/node-checked? \"Security_Summarize\"))"}
   {:script "(rt.po.access-rules/click-save-button)"}
   {:script
    "(rn.app/open-admin \"Reports\")"}
   {:script
    "(rt.po.report-view/set-search-text \"Security_Summarize\")"}
   {:script
    "(rt.po.report-view/select-row-by-text \"Security_Summarize\")"}
   {:script "(expect-equals 1 (rt.po.report-view/count-report-row))"}
   {:script "(rt.po.report-view/open-action-menu)"}
   {:script
    "(rt.po.app/choose-context-menu \"Delete 'Security_Summarize'\")"}
   {:script "(rt.po.edit-form/click-confirm-delete-ok-button)"}
   {:script "(expect-equals 0 (rt.po.report-view/count-report-row))"}
   {:script "(rn.common/start-app-and-login (:user-creds-staff *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (> (rt.po.report-view/count-report-row) 15))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports for Charts Section\")"}
   {:script
    "(expect-equals false (rt.po.app/node-in-nav-tree-exists? \"Security_Summarize\"))"}
   {:script
    "(comment \"============================ Checking if env is back and clean. =================================== \")"}
   {:script "(rn.common/start-app-and-login (:user-creds *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect (= (rt.po.report-view/count-report-row) 1))"}
   {:script
    "(rt.po.app/navigate-to-item \"Foster University\" \"Reports for Charts Section\")"}
   {:script
    "(expect-not (rt.po.app/node-in-nav-tree-exists? \"Security_Summarize\"))"}],
  :type :test,
  :source "../RnTests/test-db",
  :modified "20160210-232541",
  :setup [],
  :fixtures
  [:common/fixture/test-account-creds
   :rn/fixture/admin-creds
   :rn/fixture/user-creds
   :rn/fixture/user-creds-staff],
  :id :rn/security/secure-data-on-standalone-report---summarize,
  :teardown
  [{:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-admin \"Reports\")"}
   {:script
    "(rt.po.report-view/set-search-text \"Security_Summarize\")"}
   {:script
    "(while (> (rt.po.report-view/count-report-row) 0) (do (rt.po.report-view/select-row-by-text \"Security_Summarize\") (rt.po.report-view/open-action-menu) (rt.po.app/choose-context-menu \"Delete 'Security_Summarize'\") (rt.po.edit-form/click-confirm-delete-ok-button)))"}
   {:script "(expect-equals 0 (rt.po.report-view/count-report-row))"}],
  :modified-by "not-implemented"}]
