[{:tags
  [:nomodify :prod :regression :user/shaofen :desktop :area/security],
  :tests [],
  :name
  "Ensure multiple access rules works --- default access rule + analyser condition on multiple choice field",
  :steps
  [{:script "(rn.common/start-app-and-login (:user-creds *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect-equals 1 (rt.po.report-view/count-report-row))"}
   {:script
    "(comment \"==========================Access works as default. Above is to check env is clean.============================\")"}
   {:script
    "(comment \"==========================Below we will add a new access rule and check if non-admin user has expectd access. ===========================\")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"Record Access\")"}
   {:script "(rt.po.access-rules/click-edit-button)"}
   {:script "(rt.po.access-rules/add-new-access-rule)"}
   {:script
    "(expect-equals true (rt.po.access-rules-new/new-dialog-visible?))"}
   {:script
    "(rt.po.access-rules-new/set-role \"Students (User Role)\")"}
   {:script "(rt.po.access-rules-new/set-object \"Student\")"}
   {:script "(rt.po.access-rules-new/click-ok)"}
   {:script
    "(rt.po.access-rules/edit-access-rule \"Students (User Role)\" \"Student\" \"Student\")"}
   {:script "(rt.po.report-builder/select-field-in-report \"State\")"}
   {:script
    "(rt.po.report-builder/set-in-analyzer-checkbox-field-value \"State\" true)"}
   {:script
    "(rt.po.report-builder/select-field-checkboxes \"State\" true true)"}
   {:script
    "(rt.po.report-builder/set-name \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\")"}
   {:script "(rt.po.report-view/open-analyzer)"}
   {:script
    "(expect-equals true (rt.po.report-view/analyzer-field-exists? \"State\"))"}
   {:script
    "(rt.po.report-view/set-analyzer-multi-choice-options \"State\" \"Any except\" [\"NSW\" \"VIC\" \"SA\" \"WA\" \"QLD\" \"TAS\" \"ACT\"])"}
   {:script "(rt.po.report-builder/save)"}
   {:script "(rt.po.report-builder/close)"}
   {:script
    "(rt.po.access-rules/enable-access-rule \"Students (User Role)\" \"Student\" \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\")"}
   {:script "(rt.po.access-rules/click-save-button)"}
   {:script
    "(comment \"===============================By this point, we have added new access rule. Below is to check if non-admin user has expected access.=============================\")"}
   {:script "(rn.common/start-app-and-login (:user-creds *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect-equals 16 (rt.po.report-view/count-report-row))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Nelle Odom\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View\"))"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"Edit\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Nelle Odom\")"}
   {:script
    "(comment \"=========================Done checking on No.1 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Wayne Avery\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Wayne Avery'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Wayne Avery'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Wayne Avery'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Wayne Avery\")"}
   {:script
    "(comment \"=========================Done checking on No.2 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Jacqueline Osborn\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Jacqueline Osborn'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Jacqueline Osborn'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Jacqueline Osborn'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Jacqueline Osborn\")"}
   {:script
    "(comment \"=========================Done checking on No.4 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Kelsey Powers\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Kelsey Powers'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Kelsey Powers'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Kelsey Powers'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Kelsey Powers\")"}
   {:script
    "(comment \"=========================Done checking on No.4 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Anthony Nash\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Anthony Nash'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Anthony Nash'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Anthony Nash'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Anthony Nash\")"}
   {:script
    "(comment \"=========================Done checking on No.5 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Barrett Dudley\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Barrett Dudley'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Barrett Dudley'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Barrett Dudley'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Barrett Dudley\")"}
   {:script
    "(comment \"=========================Done checking on No.6 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Brynne Whitney\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Brynne Whitney'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Brynne Whitney'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Brynne Whitney'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Brynne Whitney\")"}
   {:script
    "(comment \"=========================Done checking on No.7 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Lester Hester\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Lester Hester'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Lester Hester'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Lester Hester'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Lester Hester\")"}
   {:script
    "(comment \"=========================Done checking on No.8 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Plato Parks\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Plato Parks'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Plato Parks'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Plato Parks'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Plato Parks\")"}
   {:script
    "(comment \"=========================Done checking on No.9 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Tanisha Zamora\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Tanisha Zamora'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Tanisha Zamora'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Tanisha Zamora'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Tanisha Zamora\")"}
   {:script
    "(comment \"=========================Done checking on No.10 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Hyacinth Foley\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Hyacinth Foley'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Hyacinth Foley'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Hyacinth Foley'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Hyacinth Foley\")"}
   {:script
    "(comment \"=========================Done checking on No.11 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Akeem Pierce\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Akeem Pierce'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Akeem Pierce'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Akeem Pierce'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Akeem Pierce\")"}
   {:script
    "(comment \"=========================Done checking on No.12 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Regan Abbott\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Regan Abbott'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Regan Abbott'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Regan Abbott'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Regan Abbott\")"}
   {:script
    "(comment \"=========================Done checking on No.14 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Tatyana Pearson\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Tatyana Pearson'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Tatyana Pearson'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Tatyana Pearson'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Tatyana Pearson\")"}
   {:script
    "(comment \"=========================Done checking on No.15 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"William Mcdowell\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'William Mcdowell'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'William Mcdowell'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'William Mcdowell'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"William Mcdowell\")"}
   {:script
    "(comment \"=========================Done checking on No.16 instance=========================\")"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Brock Stanton\")"}
   {:script
    "(expect-equals true (rt.po.app/context-menu-exists? \"View 'Brock Stanton'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Edit 'Brock Stanton'\"))"}
   {:script
    "(expect-equals false (rt.po.app/context-menu-exists? \"Delete 'Brock Stanton'\"))"}
   {:script
    "(rt.po.report-view/right-click-row-by-text \"Brock Stanton\")"}
   {:script
    "(comment \"=========================Done checking on No.17 instance=========================\")"}
   {:script
    "(comment \"================================We have basically done the testing and below is to reset the env. back by deleting added access rule.===========================\")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"Record Access\")"}
   {:script "(rt.po.access-rules/click-edit-button)"}
   {:script
    "(rt.po.access-rules/delete-access-rule \"Students (User Role)\" \"Student\" \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\")"}
   {:script "(rt.po.access-rules/click-save-button)"}
   {:script "(rn.common/start-app-and-login (:user-creds *tc*))"}
   {:script
    "(rn.app/open-report \"Student report\" {:app-name \"Foster University\" :folder-name \"Reports\"})"}
   {:script "(expect-equals 1 (rt.po.report-view/count-report-row))"}
   {:script
    "(comment \"====================================Env. reset is done.=============================\")"}],
  :type :test,
  :source "./test-db",
  :modified "20151022-161434",
  :setup [],
  :fixtures
  [:common/fixture/test-account-creds
   :rn/fixture/admin-creds
   :rn/fixture/user-creds],
  :id
  :rn/security/multiple-access-rules---analyser-condition-on-m-choice,
  :teardown
  [{:script
    "(comment \"++++++++++++++++++++++++++++++++++  Below is to force the env. back to default even though test case might fail in the middle. ++++++++++++++++++++++++++++++\")"}
   {:script "(rn.common/start-app-and-login (:admin-creds *tc*))"}
   {:script
    "(rn.app/open-security \"Record Access\")"}
   {:script
    "(rt.po.report-view/set-search-text \"System Administrator (User Account)\")"}
   {:script
    "(when (> (rt.po.report-view/count-report-row) 0) (do (rt.po.report-view/set-search-text \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\") (if (> (rt.po.report-view/count-report-row) 1) (do (rt.po.access-rules/click-edit-button) (rt.po.access-rules/delete-access-rule \"Students (User Role)\" \"Student\" \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\") (rt.po.access-rules/click-save-button)))))"}
   {:script
    "(rt.po.report-view/set-search-text \"System Administrator (User Account)\")"}
   {:script
    "(when (= (rt.po.report-view/count-report-row) 0) (do (rt.po.report-view/set-search-text \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\") (if (> (rt.po.report-view/count-report-row) 0) (do (rt.po.access-rules/click-edit-button) (rt.po.access-rules/delete-access-rule \"Students (User Role)\" \"Student\" \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\") (rt.po.access-rules/click-save-button)))))"}
   {:script
    "(rt.po.report-view/set-search-text \"Students in any state except NSW, VIC, SA, WA, QLD, TAS, ACT\")"}],
  :modified-by "not-implemented"}]
