<div class="visual-settings" ng-show="options">
    <div class="visual-settings-item"><button ng-click="options.enableOnDesktop = !options.enableOnDesktop" 
                 ng-class="{'desktop-checked': options.enableOnDesktop, 'desktop-unchecked': !options.enableOnDesktop}"><span>Desktop</span></button></div>
    <div class="visual-settings-item"><button ng-click="options.enableOnTablet = !options.enableOnTablet" 
                 ng-class="{'tablet-checked': options.enableOnTablet, 'tablet-unchecked': !options.enableOnTablet}"><span>Tablet</span></button></div>
    <div class="visual-settings-item"><button ng-click="options.enableOnMobile = !options.enableOnMobile" 
                 ng-class="{'mobile-checked': options.enableOnMobile, 'mobile-unchecked': !options.enableOnMobile}"><span>Mobile</span></button></div>
</div>
