<div class="sp-new-type-dialog" sp-moveable-modal sp-measure-arrange="measureArrangeOptions" sp-set-focus-dialog-input>

    <div class="modal-header">
        <h6>{{model.title}}</h6> 
    </div>
    <div class="modal-body overflowModalBody">
        <div ng-if="model.screenBuilder">
            <sp-custom-edit-form form-control="model.formForm" form-data="model.form" form-mode="model.formMode"></sp-custom-edit-form>
            <div class="btn_lighten option" ng-click="isCollapsed = !isCollapsed">
                <a><img ng-src="{{imageUrl}}" /></a>
                {{getOptionsText()}}
            </div>

            <div uib-collapse="isCollapsed">
                <uib-tabset class="tabarea">
                    <uib-tab heading="Advanced" ng-show="model.showAdvanced">
                        <div class="tab-container" ng-show="model.showAdvanced">
                            <div style="display: table-cell"><label class="field-title">Applications:</label>
                            </div>
                            <div style="display: table-cell">
                                <sp-inline-relationship-picker options="model.applicationPickerOptions"/>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Format" active="model.formatTabActiveByDefault">
                        <div class="tab-container">
                            <div style="display:table-cell"><label class="field-title">Icon:</label></div>
                            <div style="display:table-cell">
                                <sp-inline-relationship-picker options="model.iconPickerOptions" />
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Deploy">
                        <div class="tab-container">
                            <sp-visual-settings-toggle-buttons options="model.visualSettingsOptions" />
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <uib-tabset class="tabarea" ng-if="!model.screenBuilder">
            <!-- Form properties -->
            <uib-tab heading="{{model.tabHeading}}" ng-show="model.form">
                <sp-custom-edit-form form-control="model.formForm" form-data="model.form" form-mode="model.formMode"></sp-custom-edit-form>
                <div style="display: table" ng-if="model.formBuilder">
                    <div style="display: table-row">
                        <div style="display: table-cell"><label class="field-title">Default form:</label></div>
                        <div style="display: table-cell"><input type="checkbox" ng-model="model.defaultForm"></div>
                    </div>
                </div>
            </uib-tab>
            <!-- Object properties -->
            <uib-tab heading="Object Properties" ng-show="model.definition">
                <sp-custom-edit-form form-control="model.defnForm" form-data="model.definition" form-mode="model.defnMode"></sp-custom-edit-form>
                <div style="display: table" ng-if="model.formBuilder">
                    <div style="display: table-row">
                        <div style="display: table-cell"><label class="field-title">Icon:</label></div>
                        <div style="display: table-cell"><sp-inline-relationship-picker options="model.definitionIconPickerOptions" /></div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="has-error" ng-show="!model.isFormValid">
        <ul ng-repeat="error in model.errors">
            <li>{{error.msg}}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="ok()">OK</button><button type="button" class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>