<div class="custom-edit-form" ng-controller="customEditFormController">
    <sp-vertical-stack-container-control class="css-form" form-data="formData" form-control="formControl"
                                         parent-control="parentControl" form-theme="formTheme" form-mode="formMode"
                                         is-read-only="isReadOnly" is-in-design="isInDesign"
                                         is-in-test-mode="isInTestMode" is-embedded="isEmbedded"
                                         ng-class="'editForm-' + formMode" structure-depth="structureDepth"
                                         action-panel-file="actionPanelFile" action-panel-options="actionPanelOptions"
                                         style="border: none; padding-left: 0px; padding-right: 0px; overflow-y: auto; overflow-x: hidden; display: block; height: 100%; width: 100%;"></sp-vertical-stack-container-control>
</div>
