<sp-vertical-stack-container-control class="css-form" form-data="formData" form-control="pageFormControl"
                                     parent-control="parentControl" form-theme="formTheme" form-mode="formMode"
                                     is-read-only="isReadOnly" is-in-test-mode="isInTestMode"
                                     ng-class="'editForm-' + formMode" structure-depth="structureDepth"
                                     action-panel-file="actionPanelFile"
                                     action-panel-options="actionPanelOptions"></sp-vertical-stack-container-control>
        
       
