<div class="inlineRelPicker">
    <div>        
        <input id="entityNameInput" ng-model="displayStringModel" ng-model-options="displayStringModelOptions" ng-blur="validateRelationship();" ng-disabled="isDisabled"
               style="cursor: pointer;"
               uib-typeahead="entity.name for entity in getTypeaheadEntities($viewValue)" typeahead-append-to-body="typeaheadModel.appendToBody"
               typeahead-focus-first="typeaheadModel.focusOnFirst"
               typeahead-template-url="controls/templates/spTypeaheadItemTemplate.tpl.html"
               typeahead-popup-template-url="controls/templates/spTypeaheadPopupTemplate.tpl.html"
               typeahead-on-select="onTypeaheadSelect($item)"
               autocomplete="off"
               sp-focus="controlId"/>
    </div>
    <div>
        <button class="inlineRelPicker-button"
                ng-click="openDetail('entityPickers/entityCompositePicker/spEntityCompositePickerModal.tpl.html')"
                uib-popover="Edit" popover-trigger="mouseenter" popover-placement="top" ng-disabled="isDisabled">
            <img src="assets/images/icon_edit.png"/>
        </button>
    </div>
    <div>
        <button class="inlineRelPicker-button" ng-click="clear()" ng-disabled="isDisabled" uib-popover="Clear"
                popover-trigger="mouseenter" popover-placement="top">
            <img src="assets/images/icon_remove.png"/>
        </button>
    </div>    
</div>