[{:tags [:desktop],
  :test-filter
  "(and (has-tags? [\"user/shaofen\"] %) (not (has-tags? [\"prod\"] %)) )",
  :tests
  [],
  :name "Shaofen's tests",
  :each-fixtures [:common/fixture/login],
  :type :testsuite,
  :source "./test-db",
  :modified "20150921-163243",
  :setup [{:script ""}],
  :id :rn/suites/shaofen,
  :teardown [{:script ""}],
  :doc "",
  :modified-by "not-implemented",
  :once-fixtures
  [:common/fixture/chrome
   :common/fixture/test-account-creds
   :common/fixture/handle-errors
   :common/fixture/wait-ng
   :common/fixture/stop-all]}]
