[{:tags [:desktop],
  :test-filter
  "(and (has-tags? [\"tablet\"] %) (not (has-some-tags? [\"prod\" \"samples\"] %)))",
  :tests [],
  :name "Non-prod tablet tests ",
  :each-fixtures
  [:common/fixture/handle-errors
   :common/fixture/wait-ng
   :common/fixture/test-account-creds
   :rn/fixture/admin-creds
   :rn/fixture/user-creds
   :common/fixture/chrome-iPad],
  :type :testsuite,
  :source "../RnTests/test-db",
  :modified "20150601-184624",
  :setup [{:script ""}],
  :id :rn/suites/development-tablet,
  :teardown [{:script ""}],
  :doc "",
  :modified-by "not-implemented",
  :once-fixtures []}]
