[{:tags [:desktop],
  :test-filter
  "(and (has-tags? [\"prod\" \"regression\" \"tablet\"] %) (not (has-some-tags? [\"quarantined\"] %)))",
  :tests [],
  :name "Regression tests",
  :each-fixtures
  [:common/fixture/handle-errors
   :common/fixture/wait-ng
   :common/fixture/test-account-creds
   :common/fixture/chrome-iPad],
  :type :testsuite,
  :source "../RnTests/test-db",
  :modified "20150601-170331",
  :setup [{:script ""}],
  :id :rn/suites/regression-tablet,
  :teardown [{:script ""}],
  :doc "",
  :modified-by "not-implemented",
  :once-fixtures []}]
