[{:tags [:desktop],
  :test-filter
  "(and (has-tags? [\"prod\" \"regression\" \"desktop\"] %) (not (has-some-tags? [\"quarantined\" \"daily\"] %)) (has-index-in-range? 248 253 %))",
  :tests [],
  :name "regression suite used to debug certain tests",
  :each-fixtures
  [:common/fixture/handle-errors
   :common/fixture/chrome
   :common/fixture/test-account-creds
   :rn/fixture/admin-creds
   :rn/fixture/user-creds],
  :type :testsuite,
  :source "../RnTests/test-db",
  :modified "20160414-200135",
  :setup [],
  :id :rn/suites/regression-chrome-debug,
  :teardown [],
  :doc "",
  :modified-by "not-implemented",
  :once-fixtures []}]
