<div class="chartView" style="height:100%" ng-controller="chartController">
    <div class="chart-config-panel" ng-if="navService.canShowConfigMenu(model.chartEntity)" >
        <span class="chart-config-panel-button chart-config-panel-button-light" sp-context-menu-trigger="leftclick" sp-context-menu="model.configContextMenu" sp-context-menu-append-to-body> <img src="assets/images/icon_configure_w.svg"></span>            
    </div>
    <sp-chart options="viewerOptions" chart-id="model.chartId"></sp-chart>
</div>
