[{:id :steve/fixture/chrome,
  :type :testfixture,
  :name "Chrome",
  :data {:target :chrome},
  :setup [{:script "(println \"hello\" *tc*)"}],
  :after-fail
  ["(rn.common/take-screenshot)" "(rn.common/capture-browser-logs)"]}]
