<span test-id="{{::testId}}">
    <div class="edit-form-control-container">
        <div class="edit-form-title">
            <sp-title-plus-markers is-read-only="model.isReadOnly" is-required="model.isRequired" messages="customValidationMessages" title-model="titleModel"></sp-title-plus-markers>
        </div>
        <div class="edit-form-value" sp-dblclick-to-edit>
            <sp-date-control ng-if="!(isMobile || isTablet)" model="model"></sp-date-control>
            <sp-date-mobile-control ng-if="(isMobile || isTablet)" model="model"></sp-date-mobile-control>
        </div>
    </div>
</span>