{
    /* See all the pre-defined configs here: https://www.npmjs.com/package/eslint-config-defaults */
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jasmine": true,
        "jquery": true
    },
    "rules": {
        // additional and overrides compared to eslint:recommended http://eslint.org/docs/rules/

        "no-console" : ["off", { "allow": ["warn", "error"] }], // to change to warn
        "no-debugger": "warn",
//        "no-extra-parens": "warn",
        //"valid-jsdoc": "warn",
        "block-scoped-var": "warn",
        //"complexity": ["warn", 20],
//        "consistent-return": "warn",
//        "eqeqeq": "error",
//        "no-alert": "error",
//        "no-invalid-this": "warn",
        //"no-invalid-this": "error",
        //"no-unused-vars": ["warn", { "args": "none" }],
        //"semi": ["error", "always", { "omitLastInOneLineBlock": true}],

        //temp overrides of defaults to get legacy code building
        "eqeqeq": "warn",
        "no-alert": "off",
        "no-bitwise": "warn",
        "no-empty": "off",
        "no-extra-boolean-cast": "warn",
        "no-fallthrough": "warn",
        "no-invalid-this": "off",
        "no-mixed-spaces-and-tabs": "off",
        "no-unsafe-finally": "warn",
        "no-unused-vars": "off",
        "semi": ["warn", "always"],
        //end temp

//        "max-depth": ["warn", 4],
//        "max-len": ["warn", 160],
//        "max-lines": ["warn", 1000],
//        "max-statements": ["warn", 50],
//        "prefer-const": "warn",
        //"prefer-spread": "warn",
        //"prefer-rest-params": "warn",
        "prefer-template": "off" // would like to turn on
    },
    "globals": {
        // as we move to webpack we'll be able to get rid of these

        "console": false,
        "window": false,
        "angular": false,
        "Globalize": false,
        "d3": false,
        "_": false,
        "$": false,
        "jQuery": false,
        "q": false,
        "sp": false,
        "spUtils": false,
        "spEntityUtils": false,
        "spEntity": false,
        "spResource": false,
        "jsonInt": false,
        "jsonString": false,
        "jsonLookup": false,
        "jsonRelationship": false,
        "jsonDate": false,
        "jsonDateTime": false,
        "jsonTime": false,
        "jsonBool": false,
        "jsonDecimal": false,
        "jsonCurrency": false,
        "jsonGuid": false,
        "jasmine": false,
        "describe": false,
        "xdescribe": false,
        "beforeEach": false,
        "afterEach": false,
        "it": false,
        "xit": false,
        "module": false,
        "inject": false,
        "expect": false,
        "spyOn": false,
        "runs": false,
        "waitsFor": false,
        "TestSupport": false
    }
}
