<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>

<!--
  -->
      <staticContent>
        <!--
        <mimeMap fileExtension=".less" mimeType="text/css" />
        <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
        -->
      </staticContent>

      <httpProtocol>
        <customHeaders>
          <clear />
          <!-- Support IE 11 on Windows 8.1 -->
          <add name="X-UA-Compatible" value="IE=edge" />
          <!-- Forces browser XSS protection on and blocks detected attacks -->
          <add name="X-XSS-Protection" value="1; mode=block" />
          <!-- Tell the browser not to infer whether a response may be HTML or JavaScript if the server does not specify the mime time. -->
          <add name="X-Content-Type" value="nosniff" />
          <!-- Tell the browser to prevent the page from being shown in FRAME.  -->
          <add name="X-Frame-Options" value="DENY" />
          <!-- Tell the browser that this website is an HTTPS website. Future attempts to access the website via HTTP should be converted to HTTPS, including links in pages. -->
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <!-- Tell the browser not to load anything (e.g. scripts, images) from other domains but to allow some of the more security sensitive JavaScript to run (required by Angular). -->
          <!-- Note the 'connect-src *' is only included for LiveReload and is not used in production. -->

          <!-- Chrome 25 and later (although it appears as X-WebKit-CSP in dev tools), FF 23 and later -->
          <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; connect-src *; style-src 'self' 'unsafe-inline'; img-src * data:;" />
          <!-- FF until 23, IE 10 -->
          <add name="X-Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; connect-src *; style-src 'self' 'unsafe-inline'; img-src *;" />
           <!-- Chrome until 25 -->
          <add name="X-WebKit-CSP" value="default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; connect-src *; style-src 'self' 'unsafe-inline'; img-src *;" />
        </customHeaders>
      </httpProtocol>

    </system.webServer>

</configuration>
