<div class="importxml-view container-fluid" ng-controller="importXmlController">

    <h1>Import Resource</h1>

    <p class="message">
        Please select a ReadiNow resource XML file to import.
    </p>

    <div class="upload">
        <label class="fileUploadLabel">File:</label>
        <sp-file-upload upload-session="model.uploadSession"
                        message="model.message" filter="{{model.fileFilter}}"
                        callback="model.onFileUploadComplete"
                        busy-indicator-options="model.busyIndicator"
                        display-name="model.displayName"
                        instant-upload="true"
                        show-file-name="true"></sp-file-upload>

    </div>

    <p class="further">
        Further information:
        <ul>
            <li>ReadiNow resources can be exported by members of the 'Export/Import' role.</li>
            <li>Right click on a resource in a resource report to export the resource.</li>
            <li>Other data such as Excel and CSV can be imported via Integration.</li>
        </ul>
    </p>

    <div class="bg-success" ng-show="model.result === 'success'">
        <p><strong>Import Successful</strong>
        </p>
        <p>{{model.message}}</p>
        <ul>
            <li ng-repeat="ie in model.importedEntities">{{ie.typeName}} imported: {{ie.name}}</li>
        </ul>
    </div>

    <div class="bg-danger" ng-show="model.result === 'error'">
        <p>
            <strong>Import Failed</strong>
        </p>
        <p>{{model.message}}</p>
        <p ng-show="model.showIgnoreDeps"><a style="cursor: pointer;" ng-href="" ng-click="model.ignoreDependencies();">Ignore dependencies and try again.</a></p>
    </div>

</div>