<div class="report">
    <div class="title">{{item.name}}</div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Joe Black</td>
            <td>Centurion</td>
            <td>unknown</td>
        </tr>
        <tr>
            <td>Mary Moo</td>
            <td>Teacher</td>
            <td>Apr 1 2145</td>
        </tr>
        <tr>
            <td>The Fonz</td>
            <td>Ped</td>
            <td>na</td>
        </tr>
        </tbody>
    </table>
</div>