<div class="reportSaveAsDialog-view" sp-moveable-modal sp-set-focus-dialog-input>

    <div class="modal-header">
        <h6>Report Save As</h6>
    </div>
    <div class="modal-body" sp-busy-indicator-popup="model.gridBusyIndicator">

        <label class="nameLabel" for="textfield">Report name</label>
        <input class="nameInput" type="text" id="textfield" ng-model="model.reportName" /><br />
        
        <div class="navSection-container" ng-if="canSetContainer()">
            <label class="sectionLabel">Save in section</label>
            <div class="navSectionPicker">
                <sp-nav-container-picker container-id="model.initialContainerId" on-container-updated="onContainerUpdated(containerId)"></sp-nav-container-picker>
            </div>
        </div>

        <br />
        <uib-alert class="alerter" ng-repeat="error in model.errors" type="error.type">{{error.msg}}</uib-alert>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="ok()" ng-disabled="model.disableOkButton">OK</button><button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>