<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="siteSettings" type="EDC.ReadiNow.Configuration.SiteConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="serverSettings" type="EDC.ReadiNow.Configuration.ServerConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="cacheSettings" type="EDC.ReadiNow.Configuration.CacheConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="databaseSettings" type="EDC.ReadiNow.Configuration.DatabaseConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="diagnosticsSettings" type="EDC.ReadiNow.Configuration.DiagnosticsConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="workflowSettings" type="EDC.ReadiNow.Configuration.WorkflowConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="redisSettings" type="EDC.ReadiNow.Configuration.RedisConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="rabbitMqSettings" type="EDC.ReadiNow.Configuration.RabbitMqConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="castSettings" type="EDC.ReadiNow.Configuration.CastConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="auditLogSettings" type="EDC.ReadiNow.Configuration.AuditLogConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="syslogSettings" type="EDC.ReadiNow.Configuration.SyslogConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="applicationLibrary" type="EDC.ReadiNow.Configuration.AppLibraryConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="prewarm" type="EDC.ReadiNow.Configuration.PrewarmConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
    <section name="readiDesk" type="System.Configuration.AppSettingsSection" />
    <section name="fileRepositorySettings" type="EDC.ReadiNow.Configuration.FileRepositoryConfiguration, EDC.ReadiNow.Common, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <!--
  <readiDesk>
    <add key="hostName" value="SSSSSSSS.com"></add>
    <add key="userName" value="AAAAAAA"></add>
    <add key="password" value="PPPPPPP"></add>
    <add key="tenant" value="XXX"></add>
  </readiDesk>
  -->

  <!-- Web service configuration -->
  <siteSettings>
    <site name="" address="" serviceRootAddress="/SoftwarePlatform/Services" />
  </siteSettings>

  <!-- Server configuration -->
  <serverSettings>
    <!--
    Additional entityWebApi settings:
      reportCpuLimitSeconds: Adjust the SQL CPU limit for a report run. Default: 60
    -->
    <entityWebApi maxRelatedLimit="500" maxRelatedWarning="200" />
    <!--
    Trace options:
      0: None
      1: Deny only (basic)
      2: Deny only (verbose)
      3: All (basic)
      4: All (verbose)
      
    Other security options:
      ftpBypassSslCertificateCheck="true"
          Allow sftp and ftps requests to ignore the validity of the SSL certificates.
          This alows ftp servers with self signed certificates can be used.
          FOR TESTING ONLY!
          
      consoleLockTimeoutMinutes="60.0"
      
    -->
    <security trace="0" traceCacheInvalidation="false" />
    <uploadDirectory path=""/>
    <client minClientVersion="" />
    
    <systemInfo logFilePath="" currentBranch="" currentVersion="" installFolder="" environmentFile="">
      
    </systemInfo>
  </serverSettings>

  <!-- Cache configuration -->
  <cacheSettings>
    <typeCacheSettings cacheSize="250" cacheTimeout="3600" scavengePercentage="5" />
    <resourceCacheSettings cacheSize="2000" cacheTimeout="1800" scavengePercentage="10" />
    <localizedResourceCacheSettings cacheSize="25" cacheTimeout="1800" scavengePercentage="10" />
    <tenantResourceCacheSettings cacheSize="50" cacheTimeout="1800" scavengePercentage="10" />
    <redisCacheSettings enabled="true" />
    <caches>
      <add cacheName="Access Control Query" maximumSize="30000"/>
      <add cacheName="Get Action Cache" maximumSize="30000"/>
      <add cacheName="Entity Field Modification" maximumSize="10000"/>
      <add cacheName="EntityIdentificationCache" maximumSize="10000"/>
      <add cacheName="EntityIdentificationCache IDs" maximumSize="10000"/>
      <add cacheName="Entity Member Request" maximumSize="10000"/>
      <add cacheName="Entity Relationship Modification" maximumSize="10000"/>
      <add cacheName="OpenID" maximumSize="10000"/>
      <add cacheName="PerTenantNonSharingCache" maximumSize="10000"/>
      <add cacheName="Query Result" maximumSize="10000"/>
      <add cacheName="Report Result" maximumSize="10000"/>
      <add cacheName="Report To Query" maximumSize="10000"/>
      <add cacheName="UserRuleSet" maximumSize="30000"/>
      <add cacheName="User to Role" maximumSize="10000"/>                        
      <add cacheName="Security cache (inner access rule only, per ruleset)" maximumSize="30000"/>
      <add cacheName="Security cache (inner access rule only, per user)" maximumSize="30000"/>
      <add cacheName="Security cache (outer, per ruleset)" maximumSize="30000"/>      
      <add cacheName="Security cache (outer, per user)" maximumSize="30000"/>                  
      <add cacheName="Tenant ID cache" maximumSize="10000"/>                  
      <add cacheName="Workflow Action for Type" maximumSize="10000"/>      
    </caches>
  </cacheSettings>

  <!-- File repository settings -->
  <fileRepositorySettings>
    <fileRepositories>      
    </fileRepositories>  
  </fileRepositorySettings>
    
  <!-- Redis configuration -->
  <redisSettings>
    <servers>
    </servers>
  </redisSettings>
  
  <!-- RabbitMQ configuration -->
  <rabbitMqSettings>
    <rabbitMq hostName="" user="" password="" port="-1" vhost="" />
  </rabbitMqSettings>

  <!-- Database server configuration -->
  <databaseSettings>
    <connectionSettings secureReports="true" server="" database=""
      authentication="Integrated"
      connectionTimeout="30" commandTimeout="0" transactionTimeout="0" maxPoolSize="1000" />
  </databaseSettings>
  
  <!-- Application Library configuration -->
  <applicationLibrary>
    <appSecurity accessModel="Full" />    
  </applicationLibrary>
  
  <!-- Pre-warm configuration -->
  <prewarm>
    <tenants>
      <!--
        To pre-load all tenants, add with wild card:
          <add name="*" />
        
        To pre-load selected tenants, add tenant names:
          <add name="tenantA" />
          <add name="tenantB" />
            
        To pre-load no tenants, remove all elements.
      -->
    </tenants>
  </prewarm>

  <!-- Diagnostics (Logger) configuration -->
  <diagnosticsSettings>
    <applicationManagementReportSettings filename="applicationManagementLog.xml"
      maxSize="256" maxCount="100" maxRetention="30" />
    <logSettings isEnabled="true" filename="log.xml" maxSize="256" maxCount="100"
      maxRetention="30" traceEnabled="true" informationEnabled="true"
      warningEnabled="true" errorEnabled="true" />
    <syslogSettings isEnabled="false" hostName="" port="" isSecure="true" ignoreSslErrors="false"
      traceEnabled="true" informationEnabled="true" warningEnabled="true" errorEnabled="true"/>
  </diagnosticsSettings>

  <!-- Workflow configuration -->
  <workflowSettings>
    <!-- <triggers maxDepth="10" maxConcurrency="6" maxRunTimeSeconds="600" maxSteps="100000" /> -->
    <!-- <backgroundTasks perTenantConcurrency="10" suspendTimeoutSeconds="10"/> -->
    
  </workflowSettings>

  <auditLogSettings>
    <auditLogSyslogSettings isEnabled="false" hostName="" port="" isSecure="false" ignoreSslErrors="false"></auditLogSyslogSettings>
    <auditLogEntityModelSettings isEnabled="true"></auditLogEntityModelSettings>
    <auditLogEventLogSettings isEnabled="true"></auditLogEventLogSettings>
  </auditLogSettings>

  <syslogSettings>
    <syslogApplicationSettings enterpriseId="1010101" applicationName="SoftwarePlatform"></syslogApplicationSettings>    
  </syslogSettings>
      
  <!-- Email server settings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis"> <!--  alternative is Network -->
        
        <!-- 
        <specifiedPickupDirectory pickupDirectoryLocation="C:\tmp\Email"/>
        
        
        <network
          host="localhost"
          port="25"
          defaultCredentials="true"
        />
        -->
      </smtp>
    </mailSettings>
  </system.net> 
  
  <!-- CAST -->
  <castSettings>
    <cast enabled="false" heartbeat="-1" />
  </castSettings>
  
</configuration>