<div class="dataGridCell" once-class="col.colIndex()" sp-droppable="dropOptions" sp-droppable-data="col">
    <div class="dataGridFormattedCell">        
        <div sp-evt-style="getFormattedCellBackgroundStyle(row,col)"
             sp-evt-class="getFormattedCellTemplateClass(row,col)" sp-evt-name="updateGridMsg"></div>
        <div class="dataGridCellText" sp-evt-style="getFormattedCellForegroundStyle(row,col)"
             sp-evt-text="getCellText(row, col)" sp-evt-name="updateGridMsg"></div>
    </div>
</div>
