<div class="modal-header">
    <script type="text/ng-template" id="group-template.html">
        <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading" ng-click="toggleOpen()">
                <h4 class="panel-title">
                    <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                            {{heading}}
                        </span>
                        <i ng-class="isOpen ? 'expanded' : 'collapsed'"></i>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="max-height: 200px; overflow-y: auto; padding: 5px 15px 5px 15px; font-size: 11px;" ng-transclude></div>
            </div>
        </div>
    </script>

    <h6>{{model.title}}</h6>
</div>
<div class="modal-body sp-delete-service">
    <p ng-if="model.message" style="font-weight: bold">{{model.message}}</p>
    <div ng-if="model.uninstallItems && model.uninstallItems.length">
        <p style="margin: 0">The following dependent applications will also be uninstalled:</p>
        <ul>
            <li style="list-style: inherit" ng-repeat="uninstallItem in model.uninstallItems">{{uninstallItem}}</li>
        </ul>
    </div>
    <div ng-if="model.notInstalledItems && model.notInstalledItems.length">
        <p style="margin: 0">The following applications could not be found in the application library:</p>
        <ul>
            <li style="list-style: inherit" ng-repeat="notInstalledItem in model.notInstalledItems">{{notInstalledItem}}</li>
        </ul>
    </div>
    <div ng-if="model.noUpgradePathAvailableItems && model.noUpgradePathAvailableItems.length">
        <p style="margin: 0">The following applications have no upgrade path available:</p>
        <ul>
            <li style="list-style: inherit" ng-repeat="noUpgradePathAvailableItem in model.noUpgradePathAvailableItems">{{noUpgradePathAvailableItem}}</li>
        </ul>
    </div>
    <div ng-if="model.incompatibleUpgradePathItems && model.incompatibleUpgradePathItems.length">
        <p style="margin: 0">The following applications have an incompatible upgrade path:</p>
        <ul>
            <li style="list-style: inherit" ng-repeat="incompatibleUpgradePathItem in model.incompatibleUpgradePathItems">{{incompatibleUpgradePathItem}}</li>
        </ul>
    </div>
    <div ng-if="model.missingItems && model.missingItems.length">
        <p style="margin: 0">The following applications will also be installed:</p>
        <ul>
            <li style="list-style: inherit" ng-repeat="missingItem in model.missingItems">{{missingItem}}</li>
        </ul>
    </div>
    <div ng-if="model.belowMinVersionItems && model.belowMinVersionItems.length">
        <p style="margin: 0">The following applications will be upgraded:</p>
        <ul>
            <li style="list-style: inherit" ng-repeat="belowMinVersionItem in model.belowMinVersionItems">{{belowMinVersionItem}}</li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-hide="model.okDisabled"
            data-ng-click="model.close(true);">
        {{model.okText}}
    </button>
    <button type="button" class="btn"
            data-ng-click="model.close(false)">
        {{model.cancelText}}
    </button>
</div>