<div class="screen" ng-controller="screenController" sp-mobile-allow-default-drag
     sp-measure-arrange="measureArrangeOptions">

    <button class="pull-right btn-link" ng-click="toggleFlexForm()" ng-if="allowFlexForm">toggle flex</button>
    <button class="pull-right btn-link" ng-click="toggleFormStructureEditor()" ng-if="allowFlexForm">toggle adv</button>

    <div class="screen-config-panel" ng-if="navService.canShowConfigMenu(model.formControl)">
        <span class="screen-config-panel-button screen-config-panel-button-light" sp-context-menu-trigger="leftclick"
              sp-context-menu="model.configContextMenu" sp-context-menu-append-to-body>
            <img src="assets/images/icon_configure_w.png"/>
        </span>
    </div>

    <div class="screen-title" ng-if="!(isMobile || isTablet)" ng-style="consoleThemeModel.titleStyle">
        <span ng-if="model.headerIconUrl" class="headertype" ng-style="model.headerIconStyle" ><img ng-src="{{model.headerIconUrl}}" ng-style="model.headerIconStyle" /></span>{{model.formControl.name}}
    </div>

    <rn-form-structure-editor ng-if="showStructureEditor" form-entity="model.formControl"></rn-form-structure-editor>

    <sp-custom-edit-form ng-if="!useFlexForm"
                         form-control="model.formControl" parent-control="" form-mode="formMode"
                         is-in-test-mode="model.isInTestMode"
                         pager-options="pagerOptions"></sp-custom-edit-form>

    <sp-flex-edit-form ng-if="useFlexForm"
                       form-control="model.formControl" parent-control="" form-mode="formMode"
                       is-in-test-mode="model.isInTestMode"
                       pager-options="pagerOptions"></sp-flex-edit-form>

    <div once-if="!(isMobile || isTablet)"
         style="position: absolute; width: calc(100% - 30px); height: calc(100% - 90px); pointer-events: none;"
         sp-busy-indicator-popup="busyIndicator"></div>

</div>

