<div class="client-nav-panel">
    <!-- Top level list definition for the navigation tree -->
    <ul class="nav nav-list">
        <li ng-repeat="i in navTreeItems">
            <div sp-include="'navigation/nav.item.tpl.html'"></div>
        </li>
        <li ng-if="newComponentMenuAvailable()">
            <div style="position: absolute; right: 7px; top:7px">
                <div uib-popover-template="'navigation/newNavItemPopover.tpl.html'"
                     popover-placement="right" popover-trigger="none"
                     sp-popover-auto-close popover-options="popover" popover-is-open="popover.isOpen"
                     ng-click="popover.isOpen = !popover.isOpen"
                     class="nb-toolbox-control nb-middle nb-popover"
                     sp-popover-adjust-position>
                    <img src="assets/images/icon_add_w.png" style="vertical-align:initial;">
                </div>
            </div>
        </li>
    </ul>
</div>
