<div class="builder-Group">
    <div class="groupname chart-reportby">
        <span>REPORT:</span>
        <span><a class="report-name" href="#/{{appData.tenant}}/{{reportId()}}/report">{{reportName()}}</a></span>
        <span><img src="assets/images/toolbar_reload_w.png" ng-click="refreshSources()" /></span>
    </div>
    <div><span style="display:inline-block; color:#999;padding:5px 0;">Drag and drop to page <img src="assets/images/dragdrop.png"></span></div>
    <div class="groupitems">
        <div class="itemcontainer" ng-repeat="source in sources" sp-draggable="dragOptions" sp-draggable-data="source.getDrag" test-source="{{source.name}}">
            <div class="item">
                <div class="itemicon"><img ng-src="{{convertTypeToImageUrl(source.type, source.cardinality)}}" /></div>
                <div class="itemname">{{source.name}}</div>
            </div>
        </div>
    </div>
</div>