<div class="spUserPasswordDialog-view" sp-moveable-modal sp-busy-indicator-popup="model.busyIndicator" sp-set-focus-dialog-input>

    <div class="modal-header">
        <h6>Change password</h6>
        <h7 ng-if="model.changePasswordAtNextLogon">You are required to change your password before continuing.</h7>
    </div>
    <div class="modal-body">
        <div class="passwordTable">
            <div class="passwordRow">
                <div class="passwordLabelCell">New password:</div>
                <div class="passwordValueCell">
                    <input class="passwordInput" type="password" ng-change="clearErrors()" ng-model="model.password" />
                </div>
            </div>
            <div class="passwordRow">
                <div class="passwordLabelCell">Confirm password:</div>
                <div class="passwordValueCell">
                    <input class="passwordInput" type="password" ng-change="clearErrors()" ng-model="model.confirmPassword" />
                </div>
            </div>
        </div>

        <uib-alert class="alerter" ng-repeat="error in model.errors" type="error.type">{{error.msg}}</uib-alert>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="ok()">OK</button><button type="button" class="btn" ng-click="cancel()" ng-disabled="model.changePasswordAtNextLogon">Cancel</button>
    </div>
</div>