<div id="formBuilder" class="sp-Form-Builder" sp-busy-indicator-popup="windowBusy">
	
    <div class="sp-Form-Builder-ToolBar">
        <span class="sp-Form-Builder-Toolbar-Right">

            <button class="btn-link" ng-click="toggleFormStructureEditor()" ng-if="allowFlexForm">
                toggle adv
            </button>

            <button ng-click="onPropertiesClick()" uib-tooltip="Properties" tooltip-trigger tooltip-placement="top">
                <img src="assets/images/properties.svg" /><span>Properties</span>
            </button>
            <button ng-click="onSaveClick()" uib-tooltip="Save" tooltip-trigger tooltip-placement="top">
                <img src="assets/images/toolbar_save.png" /><span>Save</span>
            </button>
            <button ng-click="onSaveAsClick()" uib-tooltip="Save As" tooltip-trigger tooltip-placement="top" ng-hide="isNewForm">
                <img src="assets/images/toolbar_saveas.png" /><span>Save as</span>
            </button>
            <button class="builder-ToolBar-Close" ng-click="onCancelClick()" uib-tooltip="Cancel" tooltip-trigger tooltip-placement="top">
                <img src="assets/images/toolbar_close.png" />
            </button>
        </span>
    </div>

    <div ng-if="showActionButton()" ng-class="getActionsClass()">
        <div ng-repeat="ab in model.actionButtons">
            <button type="button"
                    ng-disabled="true"
                    title="{{ab.name || ab.displayname}}">
                <img ng-src="{{ab.icon}}" width="16" height="16"/><span>{{ab.nameshort}}</span>
            </button>
            <div class="configure-Builder-Action">
                <span class="ui-icon ui-icon-white ui-icon-wrench ui-icon-hover-darkgray fb-toolbox-adornment fb-toolbox-adornment-light"
                      style="display: inline-block; float: none"
                      ng-click="configureActions(ab)"></span>
                <span class="ui-icon ui-icon-white ui-icon-close ui-icon-hover-darkgray fb-toolbox-adornment fb-toolbox-adornment-light"
                      style="display: inline-block; float: none"
                      ng-click="removeActionButton(ab)"></span>
            </div>
        </div>
        <button type="button"
                ng-click="configureActions()"
                sp-context-menu-trigger="none"
                sp-context-menu-placement="alignright"
                sp-context-menu-append-to-body
                sp-context-menu="model.actionContextMenu"
                sp-context-menu-is-open="model.showActionContextMenu"
                title="Action">
            <img ng-src="{{getAddActionsImage()}}"/><span>Actions</span>
        </button>
    </div>

    <rn-form-structure-editor ng-if="showStructureEditor" form-entity="spFormBuilderService.form"></rn-form-structure-editor>

    <sp-edit-form style="height: calc(100% - 5px);"></sp-edit-form>
    
</div>