<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeCoverageUtil.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CodeCoverageUtil.Settings>
            <setting name="VsInstrExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Performance Tools\x64\vsinstr.exe</value>
            </setting>
            <setting name="SnExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft SDKs\Windows\v8.1A\bin\NETFX 4.5.1 Tools\x64\sn.exe</value>
            </setting>
            <setting name="GacUtilExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft SDKs\Windows\v8.1A\bin\NETFX 4.5.1 Tools\x64\gacutil.exe</value>
            </setting>
            <setting name="VsPerfMonExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Performance Tools\x64\vsperfmon.exe</value>
            </setting>
            <setting name="VsPerfCmdExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Performance Tools\x64\vsperfcmd.exe</value>
            </setting>
            <setting name="MsTestExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\MSTest.exe</value>
            </setting>
            <setting name="OpenCoverConsoleExePath" serializeAs="String">
                <value>.\OpenCover\OpenCover.Console.exe</value>
            </setting>
            <setting name="ReportGeneratorExePath" serializeAs="String">
                <value>.\ReportGenerator\ReportGenerator.exe</value>
            </setting>
            <setting name="NunitExePath" serializeAs="String">
                <value>C:\Program Files (x86)\NUnit 2.6.3\bin\Nunit-console.exe</value>
            </setting>
			<setting name="NunitExeFrameworkPath" serializeAs="String">
                <value>C:\Program Files (x86)\NUnit 2.6.3\bin\framework\nunit.framework.dll</value>
            </setting>
        </CodeCoverageUtil.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
