<div class="displayTable leftMargin topMarginSmall">
	
    <div class="progressBarLabelCell">Minimum:</div>    
    <div class="progressBarValueCell">
        <sp-value-editor class="valueEditorStyle" type="model.type" value="model.condFormatting.progressBarRule.minimumValue"></sp-value-editor>        
    </div>    
</div>
<div class="displayTable leftMargin topMarginSmall">
    <div class="progressBarLabelCell">Maximum:</div>    
    <div class="progressBarValueCell">
        <sp-value-editor class="valueEditorStyle" type="model.type" value="model.condFormatting.progressBarRule.maximumValue"></sp-value-editor>
    </div>        
</div>
<div class="displayTable leftMargin topMarginSmall">
    <div class="progressBarLabelCell">Colour:</div>    
    <div class="progressBarValueCell">        
        <sp-color-picker-dropdown color="model.condFormatting.progressBarRule.color"></sp-color-picker-dropdown>        
    </div>        
</div>