<span class="sp-number-control">
	
    <span class="prefix">{{model.prefix}}</span>
    
    <span ng-if="!(!model.isReadOnly || model.isInDesign)" class="fieldValue">{{model.value | spNumberControlFilter}}</span>
    <span ng-if="!model.isReadOnly || model.isInDesign">
        
        <input  
            type="{{ isMobile || isTablet ? 'number' : 'text' }}"
            sp-integer-input
            sp-number-control-validation="validationModel"
            ng-model="model.value"
            ng-required="model.isRequired"
            ng-trim="false"
            uib-tooltip="{{validationModel.message}}"
            tooltip-placement="right"
            tooltip-trigger="mouseenter" 
            ng-disabled="model.isInDesign"
            ng-click="onClick($event)"/>

    </span>
            
    <span class="suffix">{{model.suffix}}</span>

</span>