<div class="relationshipProperties-base">
	
    <div>
        <sp-control-on-form form-data="model.formData" form-control="model.imageNameControl" form-mode="model.formMode"  is-read-only="model.isReadOnly" is-in-test-mode="model.isInTestMode" >
    
        </sp-control-on-form>
    </div>
    <div ng-show="model.isFormControl">
        <sp-control-on-form form-data="model.formControl" form-control="model.imageDisplayNameControl" form-mode="model.formMode"  is-read-only="model.isReadOnly" is-in-test-mode="model.isInTestMode" >
    
        </sp-control-on-form>
    </div>
    <div>
        <sp-control-on-form form-data="model.formData" form-control="model.imageDescriptionControl" form-mode="model.formMode"  is-read-only="model.isReadOnly" is-in-test-mode="model.isInTestMode" >
    
        </sp-control-on-form>
    </div>
 </div>
