<div class="memberMappingOptions" sp-moveable-modal sp-set-focus-dialog-input>

    <div class="modal-header">
        <h6>Mapping Options</h6>
    </div>
    <div class="modal-body overflowModalBody">
        <div class="table">
            <div class="row">
                <div class="cell">Find using:</div>
                <div class="cell">
                    <select class="findLookupUsing" ng-options="f as f.memberName group by f.fieldGroup for f in model.lookupByMembers"
                            ng-model="model.selectedLookupField">
                        <option value="">--select--</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="ok()">OK</button><button type="button" class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>