<div sp-droppable="dropOptions">
    <div style="position:absolute; left:-100px">
        <svg width="0px" height="0px" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="smallGrid" width="11" height="11" patternUnits="userSpaceOnUse">
                    <path d="M 11 0 L 0 0 0 11" fill="none" stroke="lightgray" stroke-width="0.5" />
                </pattern>
                <pattern id="grid" width="110" height="110" patternUnits="userSpaceOnUse">
                    <rect width="110" height="110" fill="url(#smallGrid)" />
                    <path d="M 110 0 L 0 0 0 110" fill="none" stroke="lightgray" stroke-width="1" />
                </pattern>
            </defs>
        </svg>
    </div>

</div> 