<div class="workflow-chooser-view" ng-controller="workflowParameterEditViewController" ng-keyup="onKeyup($event)">
	

    <div class="header clearfix" title="parameter edit view {{view.viewName}} on {{view.argAliasOrId}}">

        <button class="icon-zoom pull-right" ng-click="toggleZoom()">
            <img ng-show="isZoomed" src="assets/images/toolbar_close.png" />
            <img ng-hide="isZoomed" src="assets/images/btn_expand_textbox.png" />
        </button>

        <input type="text" ng-model="options.filterText"
               edc-focus="view.isTopView" edc-cancel="view.cancel(); close()" edc-enter="view.apply(); close()" placeholder="filter"/>

        <!--<label ng-show="view.viewName == 'typeChooser'"><input type="checkbox" ng-model="options.showSystemTypes"/>show system types</label>-->
        <label ng-show="view.viewName == 'resourceChooser'">Records for
            <button ng-click="showTypeChooser()">{{view.resourceTypeName || view.resourceType || 'choose object definition'}}</button></label>

    </div>

    <div class="body" sp-auto-height>

        <table width="100%" sp-busy-indicator-popup="busyIndicator">
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="c in pickerReport.results.cols">{{c.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in filteredData" ng-class-even="'alt-row'" ng-click="onClicked(r)" ng-dblclick="onClicked(r);view.apply();close()" >
                <td style="min-width: 15px; vertical-align:top; text-align:center">
                    <img ng-show="r.isCurrentSelection && !r.isCandidateSelection" src="assets/images/icon_list_selected.png" />
                    <img ng-show="r.isCandidateSelection" src="assets/images/icon_list_over.png" /></td>
                <td style="min-width: 50px; vertical-align:top" ng-repeat="c in r.item">{{c.value}}</td>
            </tr>
            </tbody>
        </table>
        <span ng-show="pickerReport.results.moreAvailable">Only the first 100 records are shown</span>

    </div>

    <div class="footer clearfix">
        <button ng-click="view.apply(); close()">ok</button>
        <button ng-click="view.cancel(); close()">cancel</button>        
        <span>
        <!--the following are disabled as I have an issue - an oversight with the view region stuff and promises-->
        <button title="devnote - disabled due to bug" disabled ng-click="view.cancel()"><img src="assets/images/reset.png" />reset</button>
        <button title="devnote - disabled due to bug" disabled ng-click="view.apply()">apply</button>
        </span>
    </div>
</div>
