<!DOCTYPE html>
<html>

<!--

Playing with using flex box to do the various layouts that we use in the RN Client.

Reason is that flexbox is now an option with the browsers we support, and that it
might mean simpler code than our javascript based methods we presently use.

-->

<head>
    <title>FlexBox Test Page</title>
    <link rel="stylesheet" type="text/css" href="../../lib/boilerplate/normalize.css"/>

    <link rel="stylesheet/less" type="text/css" href="index.less"/>

    <script>less = {env: 'development', rootpath: '../../src/assets/'};</script>
    <script src="../../lib/less/less-2.5.0.min.js" type="text/javascript"></script>
    <script>less.watch();</script>

    <!-- IOS mobile support -->
    <link rel="apple-touch-icon" href="../../src/assets/images/favicon.png">
    <link rel="apple-touch-startup-image" href="../../src/assets/images/favicon.png">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Chrome Android support -->
    <meta name="mobile-web-app-capable" content="yes">

</head>

<body ng-app="app">

<app-layout>
    <header>header</header>
    <div class='main'>
        <div class="content flex-row">
            <!--<pre style="white-space: pre-wrap; font-size:smaller">{{item}}</pre>-->
            <div class="flex-row flex-item" ng-include="'templates/container.tpl.html'"></div>
        </div>
        <!--<div class="show-nav-button" ng-click="toggleNav()"> {{appState.showNav ? '<' : '>'}}</div>-->
        <!--<nav ng-if="0" ng-class="{'show-nav': appState.showNav}">-->
        <!--<button ng-click="onClick()">go</button>-->
        <!--</nav>-->
        <aside class="flex-column">
            <div class="toolbox-panel">
                <button ng-click="clear()">clear</button>
                <ul>
                    <li ng-repeat="t in itemTemplates.concat(['container'])" ng-click="addItem(t)">{{t}}</li>
                </ul>
            </div>
            <div class="toolbox-panel">
                <ul>
                    <li ng-repeat="item in getFlattenedItems()"
                        ng-click="selectItem(item)"
                        ng-class="{selected:item == selectedItem}"
                        ng-style="{'padding-left':item.depth*5 + 'px','display':'flex','justify-content':'between'}">
                        <div class="flex-item">{{item.name}}</div>
                        <div ng-if="item.depth>0" ng-click="deleteItem(item)">x</div>
                    </li>
                </ul>
            </div>
            <div class="properties-panel">
                <div ng-if="selectedItem">
                    <!--<button ng-click="selectContainer(selectedItem)"-->
                    <!--ng-hide="selectedItem===item">select container-->
                    </button>
                    <label>Name:<input ng-model="selectedItem.name"></label>
                    <label>Style:<textarea rows="8" ng-model="selectedItem.style"
                                           style="width:100%"></textarea></label>
                    <div ng-if="selectedItem.template === 'container'">
                        <button ng-click="setStyle(selectedItem, 'flex-direction: row;')">row</button>
                        <button ng-click="setStyle(selectedItem, 'flex-direction: column;')">column</button>
                    </div>
                    <!--<div>Contained items ={{selectedItem.items.length}}</div>-->
                    <!--<label ng-if="selectedItem.template !== 'container'">-->
                    <!--Template:<select ng-options="t for t in itemTemplates"-->
                    <!--ng-model="selectedItem.template"></select></label>-->
                </div>
            </div>
        </aside>
    </div>
    <footer>footer</footer>
</app-layout>

<script src="../../src/components/utils/console.js"></script>
<script src="../../lib/jquery/jquery.js"></script>
<script src="../../lib/angular/angular.js"></script>
<script src="../../lib/angular/angular-animate.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.js"></script>
<script src="../../lib/lodash/lodash.js"></script>
<script src="../../src/components/utils/spUtils.js"></script>
<script src="../../src/components/localStorage/localStorage.js"></script>

<!--include any other source files you need here-->

<!--the following includes support such as adding and finding angular templates-->
<script src="../testPagesAppHelper.js"></script>

<script src="app.js"></script>
<script src="templates/items.js"></script>
<!--<script src="app-converted.js"></script>-->
<!--<script src="templates/items-converted.js"></script>-->

</body>
</html>