<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net461" />
  <package id="Jil.StrongName" version="2.12.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" />
</packages>