<div ng-controller="workflowEntityExplorerController">
	
    <!-- 
        This explorer view and controller provides a interactive view into an EdcEntity object.
        See the controller for comments.
    -->
    <ul>
        <li class="list-section-header">Entity Summary</li>
        <li>{{entity.debugString}}</li>
        <li>{{['unchanged','create','update','delete'][entity._dataState]}}</li>
        <li ng-show="entityStack.length"><a class="btn-link" ng-click="popEntity()">Go back to previous: {{entityStack[entityStack.length-1].debugString}}</a></li>

        <li class="list-section-header">Types</li>
        <li><span ng-repeat="t in entity.getTypes()">{{t}}</span></li>

        <li class="list-section-header">Fields</li>
        <li ng-repeat="f in entity._fields" title="{{f}}">
            {{f.id.id()}} - {{f.id.getAlias()}} = <span ng-show="f._value != undefined">"{{f._value}}"</span><span ng-show="f._value == undefined">null</span>
        </li>

        <li class="list-section-header">Relationships (click to show instances)</li>
        <li ng-repeat="r in entity._relationships | filter:withInstances">
            <div class="btn-link" ng-click="setRelationship(r)">{{r.id.getAlias()}} (id:{{r.id.id()}}) has {{r.entities.length}} ({{r.instances.length}}) instances</div>
        </li>

        <li class="list-section-header">Instances for {{relationship.id.getAlias()}}</li>
        <li ng-repeat="e in relationships()">
            <div class="btn-link" ng-click="setEntity(e)">{{e.debugString}}
                <button ng-click="removeRelated(e)">del</button>
            </div>
        </li>
    </ul>
</div>

