<div class="app-element-dialog" sp-moveable-modal sp-busy-indicator-popup="model.busyIndicator" sp-measure-arrange="measureArrangeOptions" sp-set-focus-dialog-input>

    <div class="modal-header">
        <h6>{{model.title}}</h6>
    </div>
    <div class="modal-body overflowModalBody">
        <sp-custom-edit-form form-control="model.formControl" form-data="model.entity" form-mode="model.formMode" is-in-test-mode="true"></sp-custom-edit-form>

        <div class="btn_lighten option" ng-click="isCollapsed = !isCollapsed">
            <a><img ng-src="{{imageUrl}}" /></a>
            {{getOptionsText()}}
        </div>
        <div uib-collapse="isCollapsed">
            <uib-tabset class="tabarea">
                <uib-tab heading="Format">
                    <div class="tab-container">
                        <div style="display:table-cell"><label class="field-title">Icon:</label></div>
                        <div style="display:table-cell">
                            <sp-inline-relationship-picker options="model.iconPickerOptions" />
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Deploy">
                    <sp-visual-settings-toggle-buttons options="model.visualSettingsOptions" />
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="has-error" ng-show="!model.isFormValid">
            <ul ng-repeat="error in model.errors" style="color: red">
                <li>{{error.msg}}</li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" ng-click="ok()">OK</button><button type="button" class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>
