[{:tags [:Desktop],
  :name "User creds for ORM owner (non-admin user)",
  :type :testfixture,
  :source "./test-db",
  :modified "20161012-123352",
  :setup
  [{:script
    "(identity {:orm-owner-creds {:password \"Readi911\", :username \"orm_owner\"}})"}],
  :id :rn/fixture/orm-owner-creds,
  :teardown [],
  :modified-by "not-implemented"}]
