[{:type :testfixture,
  :setup [{:script "(identity {:user-creds {:username \"Amery.Palmer\" :password \"Amery.Palmer1\"}})"}
          {:script "(identity {:subject-name (make-test-name \"Subject\")})"}]
  :id :rn/fixture/ct2}]
